@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
/* @import url(https://fonts.googleapis.com/css?family=Martel:400,700,900); */
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,400;1,700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poppins:600,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,800,900);


.v-application {}

.sticky-top {
    position: sticky;
    top: 0;
}

.v-btn {
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0em;
    border-radius: 0 !important;
}

.metainfo {
    font-family: $font-family-meta;
    line-height: 1.2em;
}

h2 {
    font-size: 2em; font-weight: normal;
    font-family: $font-family-post;
}

.subwikidetails {
    .subwiki-description {
        font-family: $font-family-post;
    }

    .stats-line {
        font-size: .95em; 
    }
}

.posttext {
    font-size: 1.05em;
    font-family: $font-family-post;
    line-height: 1.40em;
    font-weight: 400;
    letter-spacing: -0.005em;
}

.croppa-outer-container {
    padding: 0px;
    display: block;
}

.croppa-container {

    &.c1 {
        display: block;
        height: inherit;
    }
}
.theme--dark.v-tabs-items {
    background-color: transparent;
}
.provider-youtube  iframe {
    width: 100%;
    min-height: 250px;
}
.posttext img, .img-responsive, .comment-row img {
    max-width: 100%;
    max-height: 400px;
  }
  .buttontabs a.v-btn.v-btn--active::before {
    background-color: transparent !important;
  }
/* Jon says "hello world" */

/* ------------------------------------------------------------- */
/* left hand sidebar */

/* left hand sidebar logo - mobile */
.v-toolbar__content img.home-link-logo {
    height: 37px;
    width: auto;
}
#token-refreshing .homebtn,
#auth-page .homebtn { 
  
  img {
    width: 128px;
    height: auto;
  }
}
/* left hand sidebar logo - desktop */
.sidemenu .homebtn {
    float: right;
    width: 100%;
    clear: both;
    text-align: center;
    // margin-right: 10px;
}

.sidemenu .homebtn img {
    width: 60%;
    max-width: 431px;
    height: auto;
}
.comment-list {
    border-left: 1px solid grey;
}
@media(max-width:1263px) {



}
@media(min-width: 960px) {
    .container {
        max-width: 1263px;;
    }
    // #router-view {
    //     margin: 0 10px 0 20px;
    //     .subwikidetails {
    //         margin: 0 -10px;
    //     }
    // }
}
@media(max-width: 960px) {
    .v-alert {
        position: relative;
        top: 56px;
    }
    #app-content {
        overflow: hidden;
    }
    #MainColumn {
        padding: 12px 0;
    }
    #router-view {
        .page-details {
            padding: 0 12px;
            .profile-cover {
                margin: 0 -12px;                
            }
        }

        #post-create-drawer {
            margin: 0 12px;
        }
        .create-post-toggle {
            margin-right: 12px;
        }
    }
}
@media(max-width: 600px) {
    
}
/* left hand sidebar Navigation  */
.v-application .leftcol {
    // background: pink;
    // background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(254, 254, 254, 1) 70%, rgba(252, 252, 252, 1) 82%, rgba(245, 245, 245, 1) 100%);
    
    .v-list.mainmenu .v-list-item {
        font-family: $font-family-menu;
        font-weight: 800;
        letter-spacing: -0.02em;
    }

    /* main menu list items */
    .v-list.mainmenu .v-list-item a {
        font-family: $font-family-menu;
        font-weight: 800;
        letter-spacing: -0.02em;
    }

    .v-list.mainmenu .v-list-item:last-child a {
        margin-bottom: 20px;
    }

}

/* ------------------------------------------------------------- */

/* post new item button */

.v-btn.v-size--default {
    font-size: 1.0rem;
}




/* -------------- */
/* subwiki page */

.stats-line {
    border-top: 1px solid #ccc; margin-top: 0px;
}
.stats-line .col {padding-top: 5px;}




/* ------------------------------------------------------------- */

/* posts */

/* bold */
.posttext strong {font-weight:900;}

/* post meta info */
.user-btn .chipuser-name {
    font-size: 0.9em;
}


/* post options - icons below a post */
.v-icon.v-icon {
    font-size: 1.4em;
}

.post-row .d-inline-block {
    font-size: 85%;
}

.post-row .metainfo {
    font-weight: 400;
    font-size: 13.0px;
}

.post-row .posttext {
    margin-bottom: 2px;
}





/* ----------------------------------- */
/* language selector */

.mainmenu .v-select__slot label {
    font-size: 9pt;
}


/* dark mode switcher */

.mainmenu .v-label {
    font-size: 9pt;
}


//

