<template >
    <div>
    <v-form>
        <v-text-field
            v-model="newemail"
            v-bind:label="$t('UserDetails.new-email')"
            type="email"
          ></v-text-field>
        <v-text-field
            v-model="password"
            :append-icon="showPW ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required]"
            :type="showPW ? 'text' : 'password'"
            name="input-10-1"
            v-bind:label="$t('General.password')"
            counter
            @click:append="showPW = !showPW"
          ></v-text-field>
          <v-btn @click="updatingMyEmail">{{$t('UserDetails.update-email')}}</v-btn>
    </v-form>
    <div v-if="getEmailUpdateUI">{{ getEmailUpdateUI }}</div>
    <v-progress-linear v-if="updatingEmail"
            indeterminate
            color="blue darken-2"
          ></v-progress-linear>
</div>
  </template>
  
  <script>
  import { mapGetters, mapActions } from "vuex";
  import i18n from "@/plugins/i18n";
  
  export default {
    name: "UpdateAccountDetails",
    data: function () {
    return {
        newemail: "",
        password: "",
        updatingEmail: false,
        showPW: false,
        rules: {
        required: (value) => !!value || i18n.t("General.required"),
        emailMatch: () => i18n.t("Auth.email-match"),
      },
    }},
    mounted() {},
    computed: {
      ...mapGetters("UserStore", ["getEmailUpdateUI"]),
    },
    methods: {
      ...mapActions("UserStore", ["UPDATE_USER_EMAIL"]),
      async updatingMyEmail(){
        this.updateEmailInProgress(true)
        console.log("In progress")
        let newEmailToSend = this.newemail.toLowerCase()
        await this.UPDATE_USER_EMAIL({
            "newemail": newEmailToSend,
            "password": this.password
            })
            this.updateEmailInProgress(false)
            console.log("after progress")
      },
      updateEmailInProgress(payload){
        this.updatingEmail = payload
        console.log(this.updatingEmail)
      }
    },
  };
  </script>
  