<template>
  <v-row>
    <v-col>
      <h3>{{ $t('General.welcome') }}</h3>
      <p>{{ $t('General.one-moment') }}</p>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "AuthPage",
  data() {
    return {
      token: this.$route.params?.token,
    };
  },
  components: {},
  watch: {
    isLoggedIn: function (val) {
      console.log("isLoggedIn");
      console.log(val);
      if (val) {
        this.$router.push({
          path: "/",
        });
      }
    },
  },
  computed: {
    ...mapGetters("UserStore", ["isLoggedIn"]),
  },
  mounted() {
    this.syncwithwts1(this.token);
  },
  methods: {
    ...mapActions("UserStore", ["syncwithwts1"]),
  },
};
</script>
