<template>
  <v-container>
    <v-card>
      <v-card-title>{{ $t("Auth.account-email-verification") }}</v-card-title>
      <v-card-text>
        <p v-if="authErrorsEmailConfirmation">
          {{ $t("Errors.email-confirmation-error") }}
        </p>
        <template v-else>
          <p>{{ $t("Auth.checking-details") }}</p>
          <v-progress-linear
            indeterminate
            color="yellow darken-2"
          ></v-progress-linear>
        </template>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: function () {
    return {};
  },

  mounted() {
    this.confirmemail();
  },
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "authStatus",
      "userProfile",
      "authErrorsEmailConfirmation",
    ]),
  },
  methods: {
    ...mapActions("UserStore", ["confirmemail"]),
  },
};
</script>
<style scoped></style>
