<template>
  <v-container>
    <v-row>
      <v-col cols="12" lg="6" md="8">
        <v-card>
          <v-card-title>{{$t('General.forgotten-password')}}</v-card-title>
          <v-card-text>
            <ForgotPasswordForm />
          </v-card-text>
        </v-card> </v-col
    ></v-row>
  </v-container>
</template>
<script>
import ForgotPasswordForm from "../components/auth/ForgotPassword.vue";

export default {
  data: function () {
    return {};
  },
  components: {
    ForgotPasswordForm,
  },
  mounted() {},
};
</script>
<style scoped></style>
