<template>
  <v-container>
    <v-row>
      <v-col cols="12" align="center" justify="center">
        <Logo />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card :color="$vuetify.theme.dark ? '#595757' : 'white'">
          <v-toolbar
            :color="$vuetify.theme.dark ? 'secondary' : 'success'"
            dark
            flat
          >
            <v-spacer></v-spacer>
            <v-toolbar-title class="text-wrap">{{
              $t("Auth.email-confirmation-required")
            }}</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text class="text-center">
            {{ $t("Auth.please-confirm-email") }}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-list nav app color="transparent">
              <v-list-item
                ><v-btn @click="buttonHandler()" color="primary" v-show="!disableResend">{{
                  $t("Auth.resend-email")
                }}</v-btn>

                <NoticeChip
                  v-if="emailResendRequested"
                  :text="$t('Auth.please-check-your-email')"
                />
              </v-list-item>
              <v-list-item
                class="supplemental"
                router-link
                :to="{ name: 'Contact', params: { LANG: GET_LOCALE } }"
              >
                <v-icon class="supplementalicon mx-2"
                  >fa-solid fa-envelope</v-icon
                >
                {{ $t("General.contact") }}
              </v-list-item>
              <Logout />
            </v-list>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import NoticeChip from "@shared/components/partials/NoticeChip.vue";
import Logo from "@shared/components/partials/Logo";
import Logout from "../components/auth/Logout.vue";

export default {
  name: "PleaseConfirm",
  data() {
    return {
      disableResend: false,
      emailResendRequested: false,
    };
  },
  components: {
    NoticeChip,
    Logout,
    Logo,
  },
  computed: {
    ...mapGetters("Languages", ["GET_LOCALE"]),

  },
  mounted() {},
  methods: {
    ...mapActions("UserStore", ["resendconfirmation"]),
    buttonHandler() {
      this.emailResendRequested = true;
      this.resendconfirmation();
      this.disableResend = true;
      setTimeout(() => {
        this.disableResend = false;
      }, 30000);
    },
  },
};
</script>
