<template>
<div>
<v-col>
    <v-carousel hide-delimiters height=200>
          <v-carousel-item v-for="(item, index) in GET_LIST_OF_PROFILE_PICS" :key="index">
                    <v-row
          class="fill-height"
          align="center"
          justify="center"
        >
            <img :src="item.imgurl" @click="selectProfilePic(item)">
            </v-row>
            <p align="center">{{$t('Welcome.click-to-select-pic')}}</p>
          </v-carousel-item>
    </v-carousel>
    </v-col>
</div>
</template>

<script>

import { mapGetters, mapActions } from "vuex";

export default {
  name: "DefaultProfilePic",
  computed: {
    ...mapGetters("Onboarding", ["URL_DEFAULT_PROFILE_PICS", "GET_LIST_OF_PROFILE_PICS", "GET_CHOSEN_PIC"]),
    ...mapGetters("UserStore", ["userProfile"]),
  },
  mounted(){
    this.GET_PROFILE_URLS()
  },
  methods: {
    ...mapActions("Onboarding", ["GET_PROFILE_URLS", "SET_CHOSEN_PIC", "PICTURE_IS_CHOSEN"]),
    // ...mapActions("MediaStore", ["UPDATE_MY_PROFILE_PICTURE"]),
    ...mapActions("UserProfileStore", [
      "UPDATE_MY_PROFILE_DATA"
    ]),
    selectProfilePic(item){
      this.SET_CHOSEN_PIC(item)
      // console.log(this.GET_CHOSEN_PIC)
      let pksk = "userprofile#" + this.userProfile.slug
      this.UPDATE_MY_PROFILE_DATA({key: {
          pk: pksk, sk: pksk}, profilePic: this.GET_CHOSEN_PIC.srckey
          })
      this.PICTURE_IS_CHOSEN(true)
      }
  }
  }

</script>
