<template>
  <div id="api-access-panel">
    <v-row>
      <v-col>
        <h1>{{ $t("General.manage-api-access") }}</h1>
        <h1>{{ $t("General.your-client-ids") }}</h1>
        <template v-if="fetchInProgress">
          <v-progress-linear
            indeterminate
            color="blue darken-2"
          ></v-progress-linear>
        </template>
        <template v-else>
          <p v-if="GET_CLIENTS.length == 0">{{ $t("General.you-have-no-api-clients") }}</p>

          <template v-else-if="GET_CLIENTS.length > 0">
            <v-card
              v-for="(client, i) in GET_CLIENTS"
              v-bind:key="i"
              class="mb-4"
            >
              <v-card-title>{{ client.clientId }}</v-card-title>
              <v-card-text>
                <p>Created: <DateOut :datein="client.createdAt" /></p>
                <p>Flow: {{ client.flow }}</p>
                <v-dialog v-model="deleteDialog" width="500">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn color="red lighten-2" dark v-bind="attrs" v-on="on">
                      <v-icon>fa-trash</v-icon>
                    </v-btn>
                  </template>

                  <v-card>
                    <v-card-title class="text-h5 grey lighten-2">
                      Confirm deletion
                    </v-card-title>
                    <v-card-text v-if="deleteInProgress == client.clientId">
                      <v-progress-linear
                        indeterminate
                        color="red darken-2"
                      ></v-progress-linear>
                    </v-card-text>
                    <v-card-text v-else>
                      {{ $t("General.are-you-sure-delete-key-pair") }}
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions v-if="deleteInProgress != client.clientId">
                      <v-spacer></v-spacer>
                      <v-btn text @click="deleteDialog = false">{{ $t("General.cancel") }}</v-btn>
                      <v-btn
                        color="primary"
                        text
                        @click="handleDelete(client.clientId)"
                      >
                        Confirm
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-card-text>
            </v-card>
          </template>
        </template>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-if="!fetchInProgress">
        <p v-if="(GET_CLIENTS.length >= 2)">{{ $t("General.you-have-max-clients") }}</p>
        <v-dialog v-else v-model="editDialog" persistent max-width="600px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark v-bind="attrs" v-on="on">
              {{ $t("General.create-new-client-credentials-key-pair") }}
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5"
                >{{ $t("General.create-new-client-credentials-key-pair") }}</span
              >
            </v-card-title>
            <v-card-text>
              <p>{{ $t("General.choose-scope") }}</p>
              <v-btn @click="changeAllScopes('all')">{{ $t("General.all") }}</v-btn>

              <v-btn @click="changeAllScopes('none')">{{ $t("General.none") }}</v-btn>
              <v-list>
                <v-list-item v-for="(scope, s) in GET_SCOPES" v-bind:key="s">
                  <v-checkbox
                    v-model="FORM_SCOPES"
                    :value="s"
                    :label="scope.label"
                  />
                </v-list-item>
              </v-list>
            </v-card-text>
            <v-card-actions>
              <template v-if="saveInProgress">
                <v-progress-linear
                  indeterminate
                  color="green darken-2"
                ></v-progress-linear>
              </template>
              <template v-else>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="editDialog = false">
                  Close
                </v-btn>
                <v-btn color="primary" @click="handleSave()">Save</v-btn>
              </template>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog
          max-width="600px"
          v-model="secretDialog"
          persistent
          transition="dialog-bottom-transition"
        >
          <v-card>
            <v-card-title class="text-h5 grey lighten-2">
              {{ $t("General.your-new-creds") }}
            </v-card-title>

            <v-card-text v-if="lastClient">
              {{ $t("General.take-note") }}
              <v-text-field readonly :value="lastClient.clientId" label="Client ID"/>
              <v-text-field readonly :value="lastClient.clientSecret" label="Client Secret"/>
             

            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="secretDialog = false">
                {{ $t("General.close") }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import DateOut from "./components/partials/DateOut.vue";

export default {
  components: { DateOut },
  data: function () {
    return {
      createOrEdit: "create",
      fetchInProgress: false,
      saveInProgress: false,
      deleteInProgress: null,
      deleteDialog: false,
      editDialog: false,
      secretDialog: false,
    };
  },
  computed: {
    ...mapGetters("APIClientStore", [
      "GET_SCOPES",
      "GET_CLIENTS",
      "GET_CLIENT_FORM_SCOPES",
    ]),
    FORM_SCOPES: {
      get() {
        return this.GET_CLIENT_FORM_SCOPES;
      },
      set(value) {
        this.UPDATE_CLIENT_FORM_SCOPES(value);
      },
    },
    lastClient() {
      return this.GET_CLIENTS?.[this.GET_CLIENTS.length - 1]
    }
  },
  async mounted() {
    this.fetchInProgress = true;
    await this.FETCH_CLIENTS();
    this.fetchInProgress = false;
    this.FETCH_SCOPES();
  },
  methods: {
    ...mapActions("APIClientStore", [
      "FETCH_CLIENTS",
      "FETCH_SCOPES",
      "DELETE_CLIENT",
      "CREATE_CLIENT",
      "UPDATE_CLIENT_FORM_SCOPES",
    ]),
    async handleSave() {
      this.saveInProgress = true;
      await this.CREATE_CLIENT();
      this.editDialog = false;
      this.saveInProgress = false;
      this.UPDATE_CLIENT_FORM_SCOPES([]);
      if (this.createOrEdit == "create") {
        this.secretDialog = true;
      }
    },
    async handleDelete(clientId) {
      this.deleteInProgress = clientId;
      await this.DELETE_CLIENT(clientId);
      this.deleteDialog = false;
      this.deleteInProgress = null;
    },
    changeAllScopes(allOrNone) {
      if (allOrNone == "all") {
        let s;
        let newList = [];
        for (s in this.GET_SCOPES) {
          newList.push(s);
        }
        this.UPDATE_CLIENT_FORM_SCOPES(newList);
      } else {
        this.UPDATE_CLIENT_FORM_SCOPES([]);
      }
    },
  },
};
</script>
