<template>
  <div id="guide">
    <h1>{{ $t("BeginnersGuide.title") }}</h1>
    <br />
    <p v-html='$t("BeginnersGuide.intro-paragraph")' />

<!--     <p>
      <i>{{ $t("BeginnersGuide.latest-announcements") }}</i>
    </p>

    <p>
      <i>{{ $t("BeginnersGuide.visual-guide") }}</i>
    </p> -->

    <table>
      <tr v-for="(section, index) in $t('BeginnersGuide.sections')" :key="index">
        <td>
            <h2 v-html="$t(section.title)"></h2>
            <v-expansion-panels v-for="(item, i) in section.items" :key="i">
                <v-expansion-panel>
                    <v-expansion-panel-header class="header" 
                        v-if="item['under_construction']" v-html="'🔧 '+item.title"/>
                    <v-expansion-panel-header class="header" 
                        v-else v-html="item.title"/>
                    <v-expansion-panel-content v-if="item['under_construction']">
                        <p>This section is under construction. Pardon our progress, and thank you for your patience as we continue to develop Trust Cafe to meet the needs of the community.</p>
                    </v-expansion-panel-content>
                    <v-expansion-panel-content v-else class="whitespace" v-html="item.text">
                        <br />
                        <div v-if="item.img" align="center">
                            <br />
                            <img
                                class="hidden-sm-and-down"
                                :src="item.img"
                                height="80"
                                justify="center"
                            />
                            <p class="small">{{ item.imgcaption }}</p>
                        </div>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        <br />
        </td>
      </tr>
    </table>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "BeginnersGuide",
  computed: {
    ...mapGetters("Languages", ["GET_CURRENT_LANGUAGE"]),
    currentLanguage: {
      get() {
        return this.GET_CURRENT_LANGUAGE;
      },
    },
  },
};
</script>

<style scoped>
.header {
  font-size: 18px;
}
.whitespace {
  display: block;
  white-space: pre-wrap;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
.small {
  font-size: 11px;
}
#exp-content {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}
</style>
