<template>
  <div>

    <v-row

      :class="isLoggedIn ? 'loggedinpad' : 'loggedoutpad'"
    >
      <v-col cols="12" lg="6" md="8">
        <h1>{{ $t("Contact.contact-us") }}</h1></v-col
      >
    </v-row>
    <v-row>
      <v-col
        ><p>{{ $t("Contact.contact-us-paragraph") }}</p></v-col
      >
    </v-row>
    <v-row>
      <v-col><ContactForm /></v-col>
    </v-row>
    <v-row
      align="center"
      justify="center"
      :class="isLoggedIn ? 'loggedinpad' : 'loggedoutpad'"
    >
      <v-col
        ><b>{{ $t("Contact.discord") }}</b></v-col
      ></v-row
    >
    <v-row align="center" justify="center">
      <v-col
        ><a href="https://discord.gg/88Myx26pRr">
          <img
            src="https://discordapp.com/api/guilds/498808503205363722/widget.png?style=banner2"
            alt=""
        /></a>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ContactForm from "./components/ContactUsForm.vue";
import { mapGetters } from "vuex";

export default {
  name: "ContactUs",
  components: {
    ContactForm,
  },
  computed: {
    ...mapGetters("UserStore", ["isLoggedIn"]),
  },
};
</script>

<style scoped>  

.loggedinpad {
  margin-top: 50px;
}

.loggedoutpad {
  margin-top: 20px;
}
</style>
