<template>
  <div>
    <v-container id="Contribute">
      <v-row cols="12">
        <v-layout justify-center
          >
          <v-col cols="12" :xl="6" :lg="4" :md="5">
            <PaymentForm />
          </v-col>

          <v-col cols="12" :xl="4" :lg="6" :md="7" class="hidden-sm-and-down">
                <img
                src="@/assets/JimmyWalesContribute.jpg"
                width="400"
                height="266"
                />
                <p><small><a href="https://commons.wikimedia.org/wiki/File:Jimmy_Wales-2.jpg">Image by VGrigas (WMF) - CC-BY-SA 3.0</a></small></p>
            <p>{{ $t("Support.paragraph-1") }}</p>
            <p>{{ $t("Support.paragraph-2") }}</p>
            <p>{{ $t("Support.list-preface") }}</p>
            <ul>
              <li>{{ $t("Support.bullet-point-1") }}</li>
              <li>{{ $t("Support.bullet-point-2") }}</li>
              <li>{{ $t("Support.bullet-point-3") }}</li>
              <li>{{ $t("Support.bullet-point-4") }}</li>
            </ul>
            <br />
            <p>{{ $t("Support.list-suffix") }}</p>
          </v-col>
        </v-layout>
      </v-row>
      <v-row cols="12">
        <v-layout justify-center>
          <v-col cols="12" :lg="6" :md="8" class="text-center">
            {{$t('Support.patron-link-preamble')}}
            <router-link to="/patrons">{{$t('Support.patron-link')}}</router-link>
          </v-col>
        </v-layout>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import PaymentForm from "./components/PaymentForm.vue";
export default {
  name: "Contribute",
  components: { PaymentForm },
  data() {
    return {
      pageVersion: null,
    };
  },
  mounted() {
    if (!this.userProfile) {
      this.loadUser();
    }
    this.DETECT_CONTRIBUTE_MODE(this.$router.currentRoute.name);
    this.CHANGE_WHALE_LEVEL(null);
  },
  computed: {
    ...mapGetters("UserContributionsStore", [
      "GET_CONTRIBUTION_FETCH_OPERATIONS",
      "GET_USER_COUNTRY",
      "GET_IS_ANON_PAYMENT",
      "GET_CONTRIBUTE_PAGE_MODE",
    ]),

    ...mapGetters("UserStore", ["isLoggedIn", "GET_LOGGED_OUT_PAYMENTS"]),
  },
  methods: {
    ...mapActions("UserStore", ["fetchAuthenticatedUser"]),
    ...mapActions("UserContributionsStore", [
      "FETCH_USER_COUNTRY_AND_MAKE_CURRENCY",
      "DETECT_CONTRIBUTE_MODE",
      "CHANGE_WHALE_LEVEL"
    ]),

    loadUser: async function () {
      this.FETCH_USER_COUNTRY_AND_MAKE_CURRENCY();
      await this.fetchAuthenticatedUser();
    },
  },
};
</script>
// <style lang="scss" scoped>
// .jimmy-pic {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }
// </style>
