<template>
<v-container>
<h2>This is to edit copy</h2>

<!-- THE LANGUAGE SELECTOR -->

    <v-select
      :v-model="COPY_TO_EDIT"
      :items="GET_LANGUAGES"
      item-text="languages"
      return-object
      single-line
      style="width:0px"
      :placeholder="$t('General.choose-your-language')"
      label="pick your language"
      @input="(item) => GET_SELECTED_COPY_TO_EDIT(item)"
        >
    </v-select>

<!-- THE FORM TO EDIT STRINGS -->

    <div ref="forms" v-if="COPY_TO_EDIT.length === 1">
      <h2>Strings to Edit</h2>
      <form ref="strings"  v-for="(key, value) in GET_STRINGS_TO_EDIT" :key="key">
        Label: {{value}}<br>
        Current text: {{key}}
        <v-text-field
        :label = value
        :placeholder = key
        @input="( value ) => addEditedCopyString(key, value)">
        </v-text-field>
      </form>

<!-- THE FORM TO EDIT OBJECTS -->

      <div v-for="(items, header) in GET_OBJECTS_TO_EDIT" :key="header">
        <v-btn @click="IS_OBJECT_EXPANDED(header)">{{header}}</v-btn>
        <div v-if="EXPANDED_OBJECTS.includes(header)">
        <form v-for="(value, key) in items" :key="key">
          Label: {{key}}<br> Current text: {{value}}
          <v-text-field
          :label = key
          :placeholder = value
          @input="( value ) => addEditedCopyObject(header, key, value)">
          </v-text-field>
        </form>
        </div> 
        </div>
      </div>

<!-- THE BUTTON TO UPDATE COPY -->
      <v-btn @click="UPDATE_COPY(editedText)">Update Copy</v-btn>

<!-- UNCOMMENT THIS IF YOU WANT TO TAKE A LOOK AT THE EDITED COPY JUST TO CHECK -->
      <!-- <v-btn @click="lookAtText()">Look at copy</v-btn> -->
    
</v-container>
</template>

<script>

import {mapGetters, mapActions} from 'vuex'

export default {
    name: 'EditCopyForm',
    data: function() {
        return {
          editedText: {}
        }
    },
    computed: {
        ...mapGetters('EditCopy', ['GET_LANGUAGES', 'GET_COPY_TO_EDIT', 'GET_STRINGS_TO_EDIT', 'GET_CURRENT_LANGUAGE', 'GET_OBJECTS_TO_EDIT', 'GET_EXPANDED_OBJECTS']),
    COPY_TO_EDIT: {
      get() {
        return this.GET_COPY_TO_EDIT;
      },
      set(value) {
        this.GET_SELECTED_COPY_TO_EDIT(value);
      }
    },
    EXPANDED_OBJECTS: {
      get() {
        return this.GET_EXPANDED_OBJECTS;
      },
      set(value) {
        return this.IS_OBJECT_EXPANDED(value)
      }
    }
    },
    methods: {
        ...mapActions('EditCopy', ['GET_SELECTED_COPY_TO_EDIT', 'UPDATE_COPY', 'GET_OBJECT_TO_EDIT', 'IS_OBJECT_EXPANDED']),        
        addEditedCopyString(key, copy){
          if(key in this.editedText){
            this.editedText[key] = copy
          }
          else{
            this.editedText[key] = {}
            this.editedText[key] = copy
          }},
        addEditedCopyObject(header, key, value){
          if(!this.editedText[header]){
            this.editedText[header] = {}
          }
          this.editedText[header][key] = value
        },
        lookAtText(){
          console.log(this.editedText)
        },
    }
}
</script>