<template>
  <div>
    
          <SubwikiCreate />
        
  </div>
</template>
<script>
import SubwikiCreate from "./components/SubwikiCreate";

export default {
  name: "Home",
  data: function () {
    return {};
  },

  components: {
    SubwikiCreate,
  },
  mounted() {},
  computed: {},
  methods: {},
};
</script>
