<template>
  <div>
    <template
      v-if="
        GET_HAS_PROFILE_LOADED.includes(userSlug) &&
        GET_PROFILES[userSlug] &&
        GET_PROFILES[userSlug].userID
      "
    >
      <EditProfile :userSlug="userSlug" />
    </template>
    <v-progress-linear
      v-else
      indeterminate
      color="green darken-2"
    ></v-progress-linear>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import EditProfile from "./components/userprofile/EditProfile.vue";

export default {
  name: "EditProfilePage",
  components: {
    EditProfile,
  },
  data: function () {
    return {
      userSlug: null,
    };
  },

  async mounted() {
    this.userSlug = this.userProfile.slug;
    if (!this.GET_HAS_PROFILE_LOADED.includes(this.userSlug)) {
      await this.FETCH_USER_PROFILE(this.userSlug);
      this.ready = true;
      console.log("Ready");
      console.log(this.GET_USER_PROFILE(this.userSlug));
    }
  },

  computed: {
    ...mapGetters("UserProfileStore", [
      "GET_USER_PROFILE",
      "GET_USER_PROFILE_DEBUG",
      "GET_PROFILES",
      "GET_HAS_PROFILE_LOADED",
      "IS_MY_PROFILE",
    ]),
    ...mapGetters("UserStore", ["userProfile"]),

    getUserProfile() {
      return this.GET_USER_PROFILE(this.userSlug);
    },
  },
  methods: {
    ...mapActions("UserProfileStore", [
      "FETCH_USER_PROFILE",
      "UPDATE_MY_BIOGRAPHY",
    ]),
  },
};
</script>
