<template>
  <v-row>
    <v-col>
      <h1>{{ $t("General.my-account") }}</h1><p/>
      <UserBtn :user="userProfile" v-if="userProfile.slug != ''" /><p/>
      <v-btn @click="editProfile()">{{ $t("Profile.edit-my-profile") }}</v-btn>
      <p/>
      <v-btn @click="updateAccountDetailsForm()">{{$t('UserDetails.edit-my-account-details')}}</v-btn>
      <select-language />

      <DarkTheme />
      <NotificationPreferences />
      <v-divider/>
      <p>
        <router-link
        :to="{
          name: 'User Blocks',
          params: { LANG: GET_LOCALE },
        }"
        >User Blocks</router-link
      ></p>
      <v-divider/>
      <p>
        <router-link
        :to="{
          name: 'API Access',
          params: { LANG: GET_LOCALE },
        }"
        >API Access</router-link
      ></p>
    </v-col>
  </v-row>
</template>
<script>
import { mapGetters } from "vuex";
import DarkTheme from "./components/DarkTheme.vue";
import NotificationPreferences from "./components/NotificationPreferences.vue";
import SelectLanguage from "./components/SelectLanguage.vue";
import UserBtn from "./components/partials/UserBtn.vue";

export default {
  components: {
    NotificationPreferences,
    DarkTheme,
    SelectLanguage,
    UserBtn,
  },
  data: function () {
    return {
        updateAccountDetails: false
      }},
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "userProfile",
      "GET_LOGGED_OUT_PAYMENTS",
      "isUserInGroup",
    ]),
    ...mapGetters("Languages", ["GET_LOCALE"]),
  },
  methods: {
    editProfile() {
      console.log(this.userProfile);
      this.$router.push({
        path: "/" + this.userProfile.userlanguage + "/editmyprofile",
      });
    },
    updateAccountDetailsForm(){
      this.$router.push({
        path: "/" + this.userProfile.userlanguage + "/updateaccount",
      });
    },
  },
};
</script>
