<template>
  <div>
    <v-row>
      <v-col>
        <h1 class="text-center" v-text="title"></h1>
      </v-col>
    </v-row>
    <v-timeline dense>
      <v-timeline-item
        v-for="(event, e) in timeline"
        :key="e"
        :color="$vuetify.theme.dark ? statusColoursDark[statusList[e].status] : statusColoursLight[statusList[e].status]"
        :icon="statusIcons[statusList[e].status]"
      >
        <v-card
          :color="statusList[e].special
              ? 'pink accent-2' : $vuetify.theme.dark ?  statusColoursDark[statusList[e].status] + ' darken-4' : statusColoursLight[statusList[e].status] + ' lighten-5'"
          :elevation="event.special ? 3 : 0"
        >
          <v-card-text>
            <v-row justify="space-between">
              <v-col cols="8" md="9">
                <h4>{{ event.goal }}</h4>
              </v-col>
              <v-col cols="4" md="3">
                <em :class="statusColoursLight[statusList[e].status] + '--text'"
                    :text="statusText[statusList[e].status]" 
                />
              </v-col>
              <v-col>
                {{ event.desc }}
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </div>
</template>
<script>
import i18n from "@/plugins/i18n";
import statuses from "@/copy/roadmap.json";
export default {
  data() {
    return {
      statusColoursLight: {
        Complete: "green",
        "In Progress": "blue",
        Testing: "purple",
        Ongoing: "cyan",
        Paused: "orange",
        Awaiting: "grey",
      },
      statusColoursDark: {
        Complete: "green",
        "In Progress": "indigo",
        Testing: "purple",
        Ongoing: "cyan",
        Paused: "deep-orange",
        Awaiting: "blue-grey",
      },
      statusIcons: {
        Complete: "fa-check",
        Testing: "fa-bug",
        "In Progress": "fa-rocket",
        Ongoing: "fa-refresh",
        Paused: "fa-pause-circle",
        Awaiting: "fa-clock-o",
      },
      statusText: {
        Complete: i18n.t("Roadmap.statuses.complete"),
        Testing: i18n.t("Roadmap.statuses.testing"),
        "In Progress": i18n.t("Roadmap.statuses.in-progress"),
        Ongoing: i18n.t("Roadmap.statuses.ongoing"),
        Paused: i18n.t("Roadmap.statuses.paused"),
        Awaiting: i18n.t("Roadmap.statuses.awaiting"),
      },
      title: i18n.t("Roadmap.title"),
      timeline: i18n.t("Roadmap.timeline"),
      statusList: statuses.StatusList,
    };
  },
};
</script>
