<template>
    <div>Hello
            {{ GET_USER_PROFILE('simon-little') }}
    </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {

    name: "TestAuth",

    mounted() {
        this.FETCH_USER_PROFILE_OAUTH('simon-little');
        this.checkauthtokentest();
        setTimeout(() => {
            this.refreshToken();
        }, 10000);
    },
    computed: {



        ...mapGetters("UserProfileStore", ["GET_USER_PROFILE"]),
        
    },
    methods: {
        ...mapActions("UserStore", ["checkauthtokentest", "refreshToken"]),
        ...mapActions("UserProfileStore", [
            "FETCH_USER_PROFILE_OAUTH"
        ]),
    }
}
</script>