<template>
  <div>
    <v-container id="Whales-Contribute-Page">
      <template v-if="GET_WHALE_LEVEL">
        <PaymentForm />
      </template>
      <template v-else>
        <v-row cols="12">
          <v-layout justify-center>

          <v-col cols="12" :lg="6" :md="8" class="text-center">
            The work on developing a new healthy type of social network is badly
            needed, and I can only do it with your support. Thank you for
            considering becoming a member of our inner circle patrons.
          </v-col>
          </v-layout>
        </v-row>
        <v-row cols="12">
          <v-col
            cols="12"
            :lg="3"
            :md="4"
            v-for="(whaleLevel, i) in GET_ALL_WHALE_LEVELS"
            v-bind:key="i"
          >
            <v-hover v-slot="{ hover }">
              <v-card
                :color="whaleLevel.color"
                :elevation="hover ? 5 : 1"
                :class="{ 'on-hover': hover }"
              >
                <v-card-title> {{ whaleLevel.name }} Patron </v-card-title>
                <v-card-text>
                  <strong>
                    <template
                      v-if="
                        whaleLevel.amountInt == parseInt(whaleLevel.amountInt)
                      "
                      >{{ GET_CURRENCY.symbol
                      }}{{ whaleLevel.amountInt }}/year</template
                    ><template v-else>{{
                      whaleLevel.amountInt
                    }}</template></strong
                  >
                  <p>Benefits include:</p>
                  <ul>
                    <li
                      v-for="(benefit, b) in benefits"
                      v-show="benefit.tiers.includes(i)"
                      v-bind:key="b"
                    >
                      {{ benefit.text }}
                    </li>
                  </ul>
                  <v-btn  v-if="i != 'immortal'" class="mt-8" @click="chooseWhaleType(i)"
                    >Be a {{ i }} patron
                    <v-icon>mdi-arrow-right</v-icon></v-btn
                  >
                  <v-btn v-else class="mt-8" href="mailto:info@wikitribune.com?subject=I'd like to talk about becoming an Immortal Patron" target="_blank" 
                    >Be an {{ i }} patron
                    <v-icon>mdi-arrow-right</v-icon></v-btn
                  >
                </v-card-text>
              </v-card>
            </v-hover>
          </v-col>
        </v-row>
      </template>
    </v-container>
  </div>
</template>
<style scoped>
#Whales-Contribute-Page .v-btn {
  text-transform: none !important;
}
</style>
<script>
import { mapActions, mapGetters } from "vuex";
import PaymentForm from "./components/PaymentForm.vue";
export default {
  name: "Contribute",
  components: { PaymentForm },
  data() {
    return {
      benefits: [
        {
          tiers: ["silver", "gold", "diamond"],
          text: "Exclusive Patrons-only twice monthly update from the team",
        },
        {
          tiers: ["silver"],
          text: "Invitation to Silver Patrons annual strategy video call",
        },
        {
          tiers: ["gold"],
          text: "Invitation to Gold Patrons quarterly strategy video call",
        },
        {
          tiers: ["diamond"],
          text: "Invitation to Diamond Patrons monthly strategy video call",
        },
        {
          tiers: ["silver", "gold", "diamond"],
          text: "Patrons - only draft essays from Jimmy - with the opportunity to help him collaborate and refine the ideas before wider release",
        },
        {
          tiers: ["gold", "diamond"],
          text: "Jimmy to personally host a trivia quiz for your business or friends and family on QuizNightBeyond",
        },
        {
          tiers: ["diamond"],
          text: "Invitation to dinners with Jimmy in London, New York, San Francisco, or Miami (other cities possible depending on his availability)",
        },
        {
          tiers: ["immortal"],
          text: "Hire Jimmy as an inspirational speaker for your company event (pricing available upon request)",
        },
        {
          tiers: ["immortal"],
          text: "or you tell us what you're interested in!",
        },
      ],

      pageVersion: null,
    };
  },
  mounted() {
    if (!this.userProfile) {
      this.loadUser();
    }
    this.DETECT_CONTRIBUTE_MODE(this.$router.currentRoute.name);
    // if (this.$route.params.level && this.GET_ALL_WHALE_LEVELS[this.GET_WHALE_LEVEL]?.amountInt) {
    //   this.CHANGE_WHALE_LEVEL(this.$route.params.level);
    //   console.log(this.GET_ALL_WHALE_LEVELS[this.GET_WHALE_LEVEL]);

    // }
  },
  watch: {
    "$route.params.level": {
      handler: function (whaleLevel) {
        this.CHANGE_WHALE_LEVEL(whaleLevel);
      },
      deep: true,
      immediate: true,
    },
  },
  computed: {
    ...mapGetters("UserContributionsStore", [
      "GET_CURRENCY",
      "GET_MAKE_A_PAYMENT_VALUES",
      "GET_CONTRIBUTION_FETCH_OPERATIONS",
      "GET_USER_COUNTRY",
      "GET_IS_ANON_PAYMENT",
      "GET_CONTRIBUTE_PAGE_MODE",
      "GET_WHALE_LEVEL",
      "GET_ALL_WHALE_LEVELS",
    ]),

    ...mapGetters("UserStore", ["isLoggedIn", "GET_LOGGED_OUT_PAYMENTS"]),
  },
  methods: {
    ...mapActions("UserStore", ["fetchAuthenticatedUser"]),
    ...mapActions("UserContributionsStore", [
      "FETCH_USER_COUNTRY_AND_MAKE_CURRENCY",
      "DETECT_CONTRIBUTE_MODE",
      "CHANGE_WHALE_LEVEL",
      "UPDATE_TERM_OF_PAYMENT",
      "UPDATE_AMOUNT_TO_PAY",
      "UPDATE_FINAL_AMOUNT_TO_PAY",
    ]),

    loadUser: async function () {
      this.FETCH_USER_COUNTRY_AND_MAKE_CURRENCY();
      await this.fetchAuthenticatedUser();
    },
    chooseWhaleType(whaleLevel) {
      this.$router.push({
        path: "/patrons/" + whaleLevel,
      });
    },
  },
};
</script>
