<template>
  <v-app-bar
    app
    :color="$vuetify.theme.dark ? 'wtsblack' : 'white'"
    dark
    elevate-on-scroll
    class="hidden-md-and-up"
  >
    <v-container>
      <v-row cols="12" class="mx-n8">
        <v-col cols="6" class="d-flex flex-row">
          <v-app-bar-nav-icon
            class="mr-2"
            :color="$vuetify.theme.dark ? 'white' : 'wtsblack'"
            @click.stop="SET_MENU_DRAWER_OPEN(!GET_MENU_DRAWER_OPEN)"
          ></v-app-bar-nav-icon>
          <div v-if="isLoggedIn">
          <HomeBtn class="mt-1" />
          </div>
        </v-col>
        <v-col
          v-if="isLoggedIn && $route.name != 'User Profile'"
          cols="3"
          class="d-flex flex-row align-right mt-1"
        >
          <OpenPostDrawerButton />
        </v-col>
        <v-col
          v-if="isLoggedIn"
          cols="3"
          class="d-flex flex-row align-right mt-1 app-bar-notifications"
        >
          <Notifications v-if="isLoggedIn" />
        </v-col>
      </v-row>
    </v-container>
  </v-app-bar>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

import HomeBtn from "./partials/HomeBtn.vue";
import Notifications from "./Notifications.vue";
import OpenPostDrawerButton from "./partials/OpenPostDrawerButton.vue";

export default {
  components: {
    HomeBtn,
    Notifications,
    OpenPostDrawerButton,
  },
  data: () => ({
    drawer: false,
  }),
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "userProfile",
      "GET_LOGGED_OUT_PAYMENTS",
      "isUserInGroup",
    ]),
    ...mapGetters("InterfaceStore", [
      "GET_SHOW_POSTCREATE",
      "GET_MENU_DRAWER_OPEN",
    ]),
  },
  methods: {
    ...mapActions("InterfaceStore", [
      "SET_SHOW_POSTCREATE",
      "SET_MENU_DRAWER_OPEN",
    ]),
  },
};
</script>
