<template>
  <div class="comment-on" :data-commenton="commentOn">
    <span><v-row>
      <v-col v-if="!submitting && IS_IN_ARRAY"
        align="center"
        justify="center">
        <ContentEditor  :identifier="identifier" :focusOnMount="focusOnMount"/>
      </v-col>
    </v-row>
    </span>
    <div v-if="submitting">
      <v-row>
        <v-col>
          <v-progress-linear
          indeterminate
          color="green darken-2"
      ></v-progress-linear>
      </v-col>
      </v-row>
    </div>
      <div v-if="IS_IN_ARRAY && !submitting">
    <v-row>
      <v-col>
        <v-btn elevation="0" big 
        :color="$vuetify.theme.dark ? 'wtsgrey' : 'secondary'"
        v-on:click.prevent="closeEditor(commentOn.sk)"
          >{{ $t('General.cancel') }}</v-btn
        >
        </v-col>
        <v-col align="right">
          <v-btn elevation="0" big 
        :color="$vuetify.theme.dark ? 'wtsgrey' : 'secondary'"
        v-on:click.prevent="postComment()"
          >{{ $t('General.comment') }}</v-btn
        >
        </v-col>
      </v-row>
    </div>
      <div class="text-center">
      <p>{{ GET_COMMENT_UI_FEEDBACK }}</p>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import ContentEditor from "./ContentEditor.vue";

export default {
  name: "CommentCreate",
  props: ["commentOn", "commentOnEntity", "topLevel", "focusOnMount"],
  components: {
    ContentEditor,
  },
  data: function () {
    return {
      submitting: false      
    };
  },
  created() {
    this.RESET_COMMENT(this.identifier);
  },
  watch: {
    GET_COMMENT_UI_FEEDBACK() {
      if(this.GET_COMMENT_UI_FEEDBACK == "Posted!")
      setTimeout(() => {
        this.submitting = false;
          }, 850);
    }
  },
  computed: {
    ...mapGetters("CommentStore", [
      "GET_ALL_NEW_COMMENTS",
      "GET_COMMENTS_WITH_WYSIWYG",
      "GET_COMMENT_UI_FEEDBACK",
      "GET_NEW_COMMENT_TEXT",

    ]),
    ...mapGetters("InterfaceStore", ["GET_SHOW_COMMENTCREATE", "GET_SHOW_COMMENTCREATE_ARRAY"]),
    IS_IN_ARRAY(){
      return this.GET_SHOW_COMMENTCREATE_ARRAY.includes(this.commentOn.sk) ? true : false
    },
    useWYSIWYG() {
      if (this.GET_COMMENTS_WITH_WYSIWYG.includes(this.identifier)) {
        return true;
      } else {
        return false;
      }
    },
    identifier() {
      return "commentOn-" + this.commentOn.sk;
    },

    NEWCOMMENT_TEXT: {
      get() {
        return this.GET_NEW_COMMENT_TEXT(this.identifier);
      },
      set(value) {
        this.UPDATE_NEW_COMMENT_TEXT({
          identifier: this.identifier,
          commentText: value,
        });
      },
    },
  },
  methods: {
    ...mapActions("CommentStore", [
      "COMMENT_WITH_WYSIYG_ON",
      "POST_COMMENT",
      "RESET_COMMENT",
      "UPDATE_NEW_COMMENT_TEXT",
    ]),
    ...mapActions("InterfaceStore", ["SET_SHOW_COMMENTCREATE_ARRAY"]),
    postComment() {
      if (this.GET_NEW_COMMENT_TEXT(this.identifier).length > 1) {
        this.submitting = true; 
        this.POST_COMMENT({ commentOn: this.commentOn, topLevel: this.topLevel });
        setTimeout(() => {
          this.SET_SHOW_COMMENTCREATE_ARRAY(this.commentOn.sk);
          }, 850);
      }
    },
    changeToWYSIWYG() {
      this.COMMENT_WITH_WYSIYG_ON(this.identifier);
      window.tinyMCE.activeEditor.focus();
    },
    closeEditor(value){
      this.SET_SHOW_COMMENTCREATE_ARRAY(value)
    }
  },
};
</script>
