<template>
  <div class="commentTree">
    <template v-if="!fetching">
      <v-row
        v-for="(comment, c) in GET_COMMENTS(identifier)"
        v-bind:key="c"
        :class="
          'comment-row ' +
          [
            comment &&
            comment.sk &&
            highlightComment == safeCommentId(comment.sk)
              ? 'yellow'
              : '',
          ]
        "
      >
        <template v-if="comment">
          <template v-if="comment.level > 1">
            <v-divider
              vertical
              v-for="level in comment.level - 1"
              :key="level"
              :class="`pl-1  pr-2 comment-divider`"
            />
          </template>
          <template v-if="IS_USER_BLOCKED(comment.userSlug) && !IS_REVEALED(comment)">
            <v-col>

              <BlockedContent :item="comment"/>
            </v-col>

          </template>
          <template v-else>
            <v-col v-if="comment.blocked">
              <BlockedContent :item="comment" by="them"/>
            </v-col>
            <v-col v-else-if="IS_ARCHIVING === comment.sk">
            <v-progress-linear
              indeterminate
              color="green darken-2"
              class="my-4"
              ></v-progress-linear>
            </v-col>
            <v-col v-else>
              <a
                :name="safeCommentId(comment.sk)"
                :id="safeCommentId(comment.sk)"
              />
              <action-chip
                v-if="!comment.archived"
                :user="comment.data.createdByUser"
                :date="comment.createdAt"
                action="comment"
              />
              
              <template v-else>
                <action-chip-archived
                :date="comment.createdAt"
              />
                <!-- <pre>{{ comment }}</pre> -->
              </template>
              <v-card large class="mb-1">
                <v-card-text>
                  <em v-if="comment.archived && comment.archived === true">{{
                    $t("General.this-comment-has-been-archived")
                  }}</em>
                  <span v-else v-html="comment.commentText" />
                </v-card-text>
              </v-card>
              <v-toolbar dense elevation="0" v-if="!comment.archived">
                <v-btn
                  v-if="isLoggedIn && !IS_USER_BLOCKED(comment.userSlug)"
                  elevation="1"
                  small
                  title="Reply"
                  :color="$vuetify.theme.dark ? 'wtsgrey' : 'secondary'"
                  v-on:click.prevent="intentToReplyTrue(comment.sk)"
                  ><v-icon small class="mr-2">fa-comment</v-icon>
                  {{ $t("General.reply") }}</v-btn
                >
                <v-spacer />
                <VoteBtns
                v-if="isLoggedIn && !IS_USER_BLOCKED(comment.userSlug)"
                  :voteFor="parentInfo(comment)"
                  :voteValueSumInput="
                    comment.statistics.voteValueSum
                      ? comment.statistics.voteValueSum
                      : 0
                  "
                />
                <span v-if="isLoggedIn && isUserInGroup('meta-admin') && !comment.archived || isMine(comment) && !comment.archived">
                  <EditBtn
                    :edit="parentInfo(comment)"
                    context="comment"
                    :originalText="comment.commentText"
                    :identifier="identifier"
                    :isMine="isMine(comment)"
                  />
                  <ArchiveBtn
                    :itemKey="comment"
                    :createdByUserSlug="comment.data.createdByUser.slug"
                    type="comment"
                  />
                </span>
              </v-toolbar>
              <v-row v-if="GET_SHOW_COMMENTCREATE_ARRAY.includes(comment.sk)">
                <v-col>
                  <CommentCreate
                    :commentOn="parentInfo(comment)"
                    commentOnEntity="post"
                    :topLevel="topLevelparentInfo()"
                /></v-col>
              </v-row>
            </v-col>
          </template>
          </template>
        <!-- </template> -->
      </v-row>
    </template>
    <v-progress-linear
      v-else
      indeterminate
      color="green darken-2"
      class="my-4"
    ></v-progress-linear>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import ActionChip from "./partials/ActionChip.vue";
import ActionChipArchived from "./partials/ActionChipArchived.vue";
import ArchiveBtn from "./partials/ArchiveBtn.vue";
import BlockedContent from "./partials/BlockedContent.vue";
import EditBtn from "./partials/EditBtn.vue";
import CommentCreate from "./CommentCreate.vue";
import VoteBtns from "./partials/VoteBtns.vue";
import goTo from "vuetify/lib/services/goto";
import Vue from "vue";
export default {
  name: "CommentTree",
  props: ["level", "commentOnEntity", "commentOnItem"],
  components: {
    ActionChip,
    ActionChipArchived,
    ArchiveBtn,
    BlockedContent,
    EditBtn,
    CommentCreate,
    VoteBtns,
  },
  data: function () {
    return {
      fetching: false,
      intentToReply: null,
      highlightComment: null,
    };
  },
  mounted() {
    this.init();
  },
  watch: {},
  computed: {
    ...mapGetters("CommentStore", [
      "GET_COMMENT_DEBUG",
      "GET_COMMENTS",
      "GET_ALL_NEW_COMMENTS",
      "GET_ALL_COMMENTS",
      "GET_COMMENT_UI_FEEDBACK",
      "GET_COMMENTS_FETCHED",
      "IS_ARCHIVING"
    ]),
    ...mapGetters("InterfaceStore", ["GET_SHOW_COMMENTCREATE_ARRAY"]),
    ...mapGetters("UserStore", ["isUserInGroup", "userProfile", "isLoggedIn"]),
    ...mapGetters("BlockUser", ["IS_USER_BLOCKED", "IS_REVEALED"]),
    identifier() {
      return window.makeIdentifier(this.commentOnItem);
    },
    COMMENT_IS_ARCHIVING: {
      get() {
        return this.IS_ARCHIVING;
      },
      set(value) {
        this.UPDATE_IS_ARCHIVING(value);
      },
    },
  },
  methods: {
    ...mapActions("CommentStore", ["FETCH_COMMENT_LIST", "PUSH_COMMENT_CACHE", "UPDATE_IS_ARCHIVING"]),
    ...mapActions("InterfaceStore", ["SET_SHOW_COMMENTCREATE_ARRAY"]),
    ...mapActions("BlockUser", ["ADD_REVEALED_CONTENT"]),

    changeFetchState(value) {
      this.fetching = value;
      console.log(this.fetching);
    },
    safeCommentId(id) {
      return id.replaceAll(/[\\.#]/g, "-");
    },
    async init() {
      this.changeFetchState(true);
      await this.FETCH_COMMENT_LIST(this.commentOnItem);
      this.changeFetchState(false);

      let c;
      console.log("looking for the comment");
      for (c in this.GET_COMMENTS(this.identifier)) {
        let compare = this.safeCommentId(
          this.GET_COMMENTS(this.identifier)[c].sk
        );
        let findId = this.safeCommentId(window.location.hash.substring(1));
        console.log(`${compare} == ${findId}?`);
        if (compare == findId) {
          console.log("Found comment!");
          var self = this;
          Vue.nextTick(function () {
            goTo("#" + findId);
            self.flashComment(findId);
          });
          break;
        }
      }
    },
    flashComment(commentSK) {
      this.highlightComment = commentSK;
      var self = this;
      setTimeout(() => {
        self.highlightComment = null;
      }, 3000);
    },
    parentInfo(comment) {
      return { pk: comment?.pk, sk: comment?.sk, slug: comment?.slug };
    },
    topLevelparentInfo() {
      return { pk: this.commentOnItem.pk, sk: this.commentOnItem.sk };
    },
    intentToReplyTrue(comment_sk) {
      this.intentToReply = comment_sk;
      this.SET_SHOW_COMMENTCREATE_ARRAY(comment_sk);
    },
    showReplies(comment) {
      return comment?.statistics?.commentReplies > 0;
    },
    isMine(comment) {
      if (comment?.data?.createdByUser?.slug) {
        return comment.data.createdByUser.slug == this.userProfile["slug"];
      } else {
        return false;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.comment-divider {
}
</style>
