<template>
  <v-row>
    <v-col cols="12" lg="6" md="8" align="center" justify="center">
      <v-form ref="contactus">
        <v-text-field
          v-model="name"
          :label="$t('Contact.name')"
          @blur="validatename()"
          required
        ></v-text-field>

        <v-text-field
          v-model="email"
          :label="$t('Contact.email')"
          required
          @blur="validateemail()"
          type="email"
        ></v-text-field>

        <v-text-field
          v-model="subject"
          :label="$t('Contact.subject')"
          required
          @blur="validatesubject()"
        ></v-text-field>

        <v-textarea
          v-model="message"
          :label="$t('Contact.message')"
          @blur="validatemessage()"
          required
        ></v-textarea>

        <div class="displayErrors" v-if="errors.length" style="color: #c21a0e">
          <ul>
            <li v-for="(error, index) in errors" :key="index">
              {{ error }}
            </li>
          </ul>
        </div>
        <v-btn
          :color="$vuetify.theme.dark ? 'secondary' : 'teal lighten-2'"
          @click="validatecaptcha()"
          >{{ $t("Contact.send") }}</v-btn
        >
        <Captcha text="Contact.contact-us" action="submit" />
        <div v-if="this.success" style="color: wtspink">
          {{ $t("Contact.success") }}
        </div>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Captcha from "@shared/components/partials/Captcha.vue";

export default {
  name: "ContactForm",
  components: {
    Captcha,
  },
  computed: {
    ...mapGetters("UserStore", ["isLoggedIn"]),
    ...mapGetters("CaptchaStore", ["GET_CAPTCHA_TOKEN"]),
  },
  data: function () {
    return {
      errors: [],
      name: "",
      email: "",
      subject: "",
      message: "",
      success: false,
    };
  },
  watch: {
    GET_CAPTCHA_TOKEN(token) {
      if (token) {
        this.submit();
      }
    },
  },
  methods: {
    ...mapActions("CaptchaStore", ["CHECK_CAPTCHA"]),
    submit() {
      this.errors = [];
      this.validatename();
      this.validateemail();
      this.validatesubject();
      this.validatemessage();

      if (
        this.errors.length === 0 &&
        this.email &&
        this.name &&
        this.subject &&
        this.message
      ) {
        this.CONTACT_US({
          email: this.email,
          name: this.name,
          subject: this.subject,
          message: this.message,
        });
        this.$refs["contactus"].reset();
        this.success = true;
      }
    },
    validatecaptcha() {
      this.CHECK_CAPTCHA();
    },
    validatename() {
      if (this.name.length < 3) {
        this.errors.push("Name must be at least 3 characters.");
      }
    },
    validatesubject() {
      if (this.subject.length < 3) {
        this.errors.push("Subject must be at least 3 characters.");
      }
    },
    validatemessage() {
      if (this.message.length < 3) {
        this.errors.push("Message must be at least 3 characters.");
      }
    },
    validateemail() {
      let validEmailAddress = new RegExp(/^\S+@\S+\.\S+$/);
      if (this.email.match(validEmailAddress)) {
        console.log("yay");
      } else {
        this.errors.push("Please enter a valid email address");
      }
    },
    ...mapActions("Contact", ["CONTACT_US"]),
  },
};
</script>

<style lang="scss" scoped>
.contactform {
  border: 1px solid rgb(218, 49, 162);
  // background-color: rgb(218, 49, 162);
  opacity: 0.5;
}
</style>
