<template>
  <div id="post-create-drawer"  color="grey darken-4" v-if="GET_SHOW_POSTCREATE">
    <PostCreate :disableSubwikiSelect="disableSubwikiSelect" />
  </div>
</template>
<script>
import PostCreate from "./PostCreate";
import { mapGetters } from "vuex";

export default {
  components: {
    PostCreate,
  },
  props: ["disableSubwikiSelect"],
  data: () => ({}),
  computed: {
    ...mapGetters("UserStore", ["isLoggedIn"]),
    ...mapGetters("InterfaceStore", ["GET_SHOW_POSTCREATE"]),
  },
  mounted() {},
};
</script>
