<template>
  <div class="edit-dialog text-right" :data-showeditor="showEditor">
    <v-dialog v-model="EDITDIALOG_SHOW" width="500">
      <v-card v-if="!submitted">
        <v-card-title class="headline grey lighten-2">
          {{ $t("General.editing") }} {{ contextLabel }}
        </v-card-title>

        <v-card-text>
          <ContentEditor identifier="Edit" v-if="showEditor" />
           
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey" @click="EDITDIALOG_SHOW = false">
            {{ $t("General.cancel") }}
          </v-btn>
          <v-btn color="primary" text v-on:click.prevent="submitEdit()">
            {{ $t("General.save") }}
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card v-else>
        <v-card-text class="pa-4">
          <v-progress-linear
            
            indeterminate
            color="blue darken-2"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import ContentEditor from "./ContentEditor.vue";

export default {
  name: "Edit",
  props: ["context", "edit", "originalText", "commentsFor", "cardUrl"],
  components: {
    ContentEditor,
  },
  data: function () {
    return {
      links: [],
      showEditor: false,
      submitted: false,
      editCardUrl: false
    };
  },
  watch: {
    GET_SHOW_DIALOG() {
      this.submitted = false;
    },
    EDITDIALOG_SHOW(newVal) {
      setTimeout(() => {
        this.showEditor = newVal;
      }, 10);
    },
    async GET_NEW_TEXT(newValue) {
      console.log(this.GET_CURRENT_CONTEXT);
      if (this.GET_CURRENT_CONTEXT == 'post') { 
        let tmp = document.createElement("DIV");
        tmp.innerHTML = newValue;
        let text = tmp.textContent || tmp.innerText || "";
        var regexp = /(https?:\/\/[^\s]+)/g;
        this.links = [...text.matchAll(regexp)];
        let linktofetch = this.links?.[0]?.[0];
        if (this.links[0] && !this.GET_IGNORE_LINKS.includes(linktofetch)) {
          this.UPDATE_NEW_CARD_URL(linktofetch);
        } else if (!this.links[0]) {
          this.UPDATE_NEW_CARD_URL("");
        }
      }
    },
  },
  mounted() {
    if (typeof this.commentsFor != "undefined") {
      this.UPDATE_EDIT_COMMENTSFOR(this.commentsFor);
    }
    if (typeof this.edit != "undefined") {
      this.UPDATE_EDIT_SLUG(this.edit);
    }
    if (typeof this.originalText != "undefined") {
      this.UPDATE_OLD_TEXT(this.originalText);
      this.UPDATE_NEW_TEXT(this.originalText);
    }
  },
  computed: {
    ...mapGetters("PostStore", [
      "GET_IGNORE_LINKS",
    ]),
    ...mapGetters("EditStore", [
      "GET_CONTEXTS",
      "GET_IS_MINE",
      "GET_OLD_TEXT",
      "GET_NEW_TEXT",
      "GET_EDIT_KEY",
      "GET_CURRENT_CONTEXT",
      "GET_SHOW_DIALOG",
      "GET_COMMENTSFOR",
      "GET_OLD_CARD_URL",
      "GET_NEW_CARD_URL",
    ]),
    EDITDIALOG_SHOW: {
      get() {
        return this.GET_SHOW_DIALOG;
      },
      set(value) {
        this.UPDATE_SHOW_DIALOGUE(value);
      },
    },
    EDITDIALOG_CARD: {
      get() {
        return this.GET_NEW_CARD_URL;
      },
      set(value) {
        this.UPDATE_NEW_CARD_URL(value);
      },
    },
    EDITDIALOG_TEXT: {
      get() {
        return this.GET_NEW_TEXT;
      },
      set(value) {
        this.UPDATE_NEW_TEXT(value);
      },
    },

    contextLabel() {
      if (
        typeof this.GET_CURRENT_CONTEXT != "undefined" &&
        typeof this.GET_CURRENT_CONTEXT != "undefined" &&
        this.context != "" &&
        typeof this.GET_CONTEXTS[this.GET_CURRENT_CONTEXT] != "undefined" &&
        typeof this.GET_CONTEXTS[this.GET_CURRENT_CONTEXT].label != "undefined"
      ) {
        return this.GET_CONTEXTS[this.GET_CURRENT_CONTEXT].label;
      } else {
        return "UNKNOWN (undefined)";
      }
    },
  },
  methods: {
    ...mapActions("EditStore", [
      "UPDATE_OLD_TEXT",
      "UPDATE_NEW_TEXT",
      "UPDATE_EDIT_SLUG",
      "UPDATE_SHOW_DIALOGUE",
      "SAVEEDIT_POST",
      "UPDATE_EDIT_COMMENTSFOR",
      "UPDATE_OLD_CARD_URL",
      "UPDATE_NEW_CARD_URL",
    ]),
    submitEdit() {
      this.submitted = true;
      this.SAVEEDIT_POST();
      setTimeout(() => {
        this.submitted = false;
      }, 5000);
    },
  },
};
</script>
