<template>
  <div>
    <h3>{{ $t("Notifications.notification-preferences") }}</h3>
    <div v-if="!fetchingPreferences">
      <v-card v-for="p in preferenceText" v-bind:key="p.name" class="mb-4">
        <v-card-title>
        {{ $t(p.label)
        }} 
      </v-card-title>
      <v-card-text>
        {{ $t(p.explain)        }}
        <v-checkbox
          v-model="preferenceChoices[p.name]['bell']"
          label="Send me a notification"
          @click="handleDebouncedSave()"
        ></v-checkbox>
        <p></p>
        <v-radio-group v-model="preferenceChoices[p.name]['email']" inline row>
          <v-radio
          v-for="(option, o) in emailOptions"
            :key="o"
            @click="handleDebouncedSave()"
            :label="option.label"
            :value="option.name"
          ></v-radio>
        </v-radio-group>
        <v-checkbox
        v-if="p.fulltextapplicable"
          v-model="preferenceChoices[p.name]['fulltext']"
          label="Send me the full text"
          @click="handleDebouncedSave()"
        ></v-checkbox>
      </v-card-text>
    </v-card>
  </div>
  <v-progress-linear
      v-else
      indeterminate
      :color="$vuetify.theme.dark ? '#878a01' : 'green darken-2'"
    ></v-progress-linear>   
  </div>
</template>
<script>
/*
I can't for the life of me work out how to do this so that it goes 
into the store using the classic computed get/set method with dynamic 
functions and nested data

Simon :(
*/
import { mapGetters } from "vuex";
import debounce from "lodash/debounce";
import axios from "axios";
export default {
  data: () => ({
    checkbox: false,
    fetchingPreferences: false,
    preferenceChoices: {
      comment_reply: { email: "never", bell: true, fulltext: false },
      profile_post: { email: "never", bell: true, fulltext: false },
      trust_created: { email: "never", bell: true, fulltext: false },
      article_updated: { email: "never", bell: true, fulltext: false },
      trust_increased: { email: "never", bell: true, fulltext: false },
      trust_decreased: { email: "never", bell: true, fulltext: false },
      rank_up: { email: "never", bell: true, fulltext: false },
      rank_down: { email: "never", bell: true, fulltext: false },
    },
    handleDebouncedSave: null,
    emailOptions: [
      {
        name:  "never", 
        label: "No emails", 
      },
      {
        name: "immediately",
        label: "Immediate email",
      },
      {
        name: "daily",
        label: "Daily Digest",
      },
      {
        name: "weekly",
        label: "Weekly Digest",
      },
    ],
    preferenceText: [
      {
        label: "Notifications.new-comment",
        name: "comment_reply",
        explain: "Notifications.new-comment-responding-to something-I-have-done",
        fulltextapplicable: true,
      },
      {
        label: "Notifications.new-messages",
        name: "profile_post",
        explain: "Notifications.when-someone-posts-to-me-directly",
        fulltextapplicable: true,
      },
      {
        label: "Notifications.trust-created",
        name: "trust_created",
        explain: "Notifications.someone-trusts-me",
        fulltextapplicable: false,
      },
      {
        label: "Notifications.article-updates",
        name: "article_updated",
        explain: "Notifications.when-something-i-have-posted-or-edited-is-edited",
        fulltextapplicable: true,
      },
      {
        label: "Notifications.trust-increased",
        name: "trust_increased",
        explain: "Notifications.someone-trusts-me-more",
        fulltextapplicable: false,
      },
      {
        label: "Notifications.rank-up",
        name: "rank_up",
        explain: "Notifications.when-my-rank-increases",
        fulltextapplicable: false,
      },
      {
        label: "Notifications.rank-down",
        name: "rank_down",
        explain: "Notifications.when-my-rank-decreases",
        fulltextapplicable: false,
      },
    ],
  }),
  watch: {

  },
  mounted() {
    this.fetch_preferences();
    this.handleDebouncedSave = debounce(this.save_choices, 1000);
  },
  computed: {

    ...mapGetters("UserStore", [
      "authHeader",
    ]),
  },
  methods: {
    fetch_preferences() {
      var url;
      let self = this;
      url = process.env.VUE_APP_AUTHAPIBASEURL + "preferences/getemailpreferences";
      this.fetchingPreferences = true;
      axios
        .get(encodeURI(url), this.authHeader)
        .then(function (response) {
          self.preferenceChoices = response['data']['emailPreferences']
          self.fetchingPreferences = false;
        })
        .catch(function (error) {
          console.log(error);
          self.fetchingPreferences = false;
    
        });
    },
    save_choices() {
      var url = process.env.VUE_APP_AUTHAPIBASEURL + "preferences/changeemailpreferences";

      axios
        .put(
          url,
          { preferenceChoices: this.preferenceChoices },
          this.authHeader
        )
        .then(function () {})
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>
