<template>
  <v-card :color="$vuetify.theme.dark ? '#333232' : 'grey lighten-4'">

<v-card-title>
    
    <template v-if="GET_WHALE_LEVEL">
           {{ GET_ALL_WHALE_LEVELS[GET_WHALE_LEVEL]['name'] }} Patron
      
      @ {{ GET_CURRENCY.symbol }}{{ GET_ALL_WHALE_LEVELS[GET_WHALE_LEVEL]['amountInt'] }}/year
      
    </template>
    <template v-else>
      {{
      $t("Payment.payment-form-new-contribution")
    }}
    </template>
    </v-card-title>
    <v-card-text>      
      <form
        id="payment-form"
        class="payment-form"
        v-if="$router.currentRoute.name != 'Payment Complete'"
      >
        <template v-if="GET_PROCESS_STAGE == 'chooseplan'">
          

          <template>
            <v-select
              v-model="PAYMENT_CURRENCY"
              color="teal"
              :items="GET_CURRENCY_DATA"
              item-text="label"
              item-value="value"
              filled
              :label="$t('Payment.currency')"
            />
            <template v-if="!GET_WHALE_LEVEL">
            <p>
              <v-btn class="mb-2 mr-2" :color="GET_MAKE_A_PAYMENT_VALUES.term == term.value ? 'blue': 'white'" v-for="term, i in GET_PAYMENT_TERMS" v-bind:key="i" @click="UPDATE_TERM_OF_PAYMENT(term.value)">{{ $t(term.label) }}</v-btn>

          </p>
            <p class="mb-4">
            <v-btn class="mb-2 mr-2 twocolbtn" :color="GET_MAKE_A_PAYMENT_VALUES.amount == price ? 'blue': 'white'" v-for="price,i in listOfAmounts" v-bind:key="i" @click="UPDATE_AMOUNT_TO_PAY(price)">{{ GET_CURRENCY.symbol }}{{price}} {{ GET_CURRENCY.code }}</v-btn>
            <v-btn class="mb-2 mr-2" :color="GET_MAKE_A_PAYMENT_VALUES.amount == 'Other' ? 'blue': 'white'" @click="UPDATE_AMOUNT_TO_PAY('Other')">{{  $t('Payment.payment-custom') }}</v-btn>
            
            </p>
            <v-text-field
              v-if="PAYMENT_AMOUNT == custom"
              v-model="PAYMENT_AMOUNT_CUSTOM"
              :label="$t('Payment.payment-custom-amount')"
              :prefix="GET_CURRENCY.symbol"
              type="number"
            ></v-text-field>
            </template>
            <div v-if="GET_IS_ANON_PAYMENT">
              <v-text-field v-model="ANON_CUSTOMER_EMAIL" :label="$t('General.email-address')" type="email">
              </v-text-field>
              <v-text-field v-model="ANON_CUSTOMER_FNAME" :label="$t('General.first-name')">
              </v-text-field>
              <v-text-field v-model="ANON_CUSTOMER_LNAME" :label="$t('General.last-name')">
              </v-text-field>
            </div>

            <p  v-for="method, i in GET_PAYMENT_OPTIONS" v-bind:key="i">
              <v-btn :color="GET_MAKE_A_PAYMENT_VALUES.method == method.provider ? 'blue': 'white'" 
              @click="UPDATE_PAYMENT_METHOD(method.provider)">{{ $t(method.label) }}</v-btn>

          </p>
      
            <v-btn
              :disabled="!partOneSatisfied"
              @click="CHANGE_PROCESS_STAGE('payment')"
              block
              :color="$vuetify.theme.dark ? 'secondary' : 'success'"
              class="my-2"
              >{{ $t("Payment.payment-form-next-payment") }}</v-btn
            >
          </template>
        </template>
        <template v-else-if="GET_PROCESS_STAGE == 'payment'">
          <h3>{{ $t("Payment.payment-form-payment") }}</h3>
          <p>
            {{ GET_CURRENCY.symbol }}{{ GET_MAKE_A_PAYMENT_VALUES.finalAmount }}
            {{ GET_CURRENCY.code }}
            {{ GET_MAKE_A_PAYMENT_VALUES.term }}
          </p>

          <v-btn class="mb-8" @click="CHANGE_PROCESS_STAGE('chooseplan')" block>{{
            $t("General.back")
          }}</v-btn>
          <StripePaymentForm v-if="PAYMENT_METHOD == 'stripe'" />
          <PayPalCheckout
            v-else-if="PAYMENT_METHOD == 'paypal'"
            div
            ref="paypal"
          />
        </template>
      </form>
      <template v-if="GET_PROCESS_STAGE == 'paid'">
        {{ $t("Payment.payment-form-thank-you") }}
        <template v-if="GET_IS_ANON_PAYMENT">
          <p>
            
            <a :href="wts1Link">{{$t('Payment.go-back-to-wt-social')}}</a>
          </p>
        </template>
       
      </template>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import PayPalCheckout from "./paypal/paypalCheckout.vue";
import StripePaymentForm from "./stripe/paymentForm.vue";
import i18n from "@/plugins/i18n";

export default {
  name: "MyPayments",
  components: { StripePaymentForm, PayPalCheckout },
  data() {
    return {
      custom: i18n.t("Payment.payment-custom"),
    };
  },
  mounted() {
    if (!this.userProfile) {
      this.loadUser();
    }
    if (this.$router.currentRoute.name == "Payment Complete") {
      this.CHANGE_PROCESS_STAGE("paid");
    } else {
      this.CHANGE_PROCESS_STAGE("chooseplan");
    }
    if (!this.GET_WHALE_LEVEL) {
      this.UPDATE_TERM_OF_PAYMENT("month");
      this.UPDATE_AMOUNT_TO_PAY("");
      this.CHOOSE_DEFAULT_AMOUNT();
      if (this.GET_IS_ANON_PAYMENT) {
        // this.detectOrSetCurrency();
        // this.UPDATE_TERM_OF_PAYMENT("once");
      }
    } else {
      this.UPDATE_FINAL_AMOUNT_TO_PAY(`${this.GET_ALL_WHALE_LEVELS[this.GET_WHALE_LEVEL].amountInt}`);

    }
  },
  watch: {
    
    GET_STRIPE_CUSTOMER(newVal) {
      if (newVal) {
        // this.detectOrSetCurrency();
      }
    },
  },
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "authStatus",
      "userProfile",
      "GET_LOGGED_OUT_PAYMENTS",
    ]),
    ...mapGetters("StripeStore", ["GET_STRIPE_CUSTOMER"]),
    ...mapGetters("UserContributionsStore", [
      "GET_PRICES",
      "GET_WHALE_LEVEL",
      "GET_CURRENCY",
      "GET_ANON_CUSTOMER",
      "GET_MAKE_A_PAYMENT_VALUES",
      "GET_PAYMENT_OPTIONS",
      "GET_PAYMENT_TERMS",
      "GET_PROCESS_STAGE",
      "GET_CURRENCY_DATA",
      "GET_IS_ANON_PAYMENT",
      "GET_ALL_WHALE_LEVELS"
    ]),
   
    wts1Link() {
      return process.env.VUE_APP_WTS1_URL + "?email=" + this.GET_ANON_CUSTOMER.email;
    },
    partOneSatisfied() {
      return !this.GET_IS_ANON_PAYMENT ||
       
         (this.PAYMENT_TERM && this.GET_MAKE_A_PAYMENT_VALUES.finalAmount >0  && this.PAYMENT_METHOD && this.GET_IS_ANON_PAYMENT && this.GET_ANON_CUSTOMER && this.GET_ANON_CUSTOMER?.email?.length > 0 && this.GET_ANON_CUSTOMER?.fname?.length > 0 && this.GET_ANON_CUSTOMER?.lname?.length > 0)
        ? true
        : false;
    },
    ANON_CUSTOMER_EMAIL: {
      get() {
        return this.GET_ANON_CUSTOMER.email;
      },
      set(value) {
        return this.UPDATE_ANON_CUSTOMER_EMAIL(value);
      },
    },
    ANON_CUSTOMER_FNAME: {
      get() {
        return this.GET_ANON_CUSTOMER.fname;
      },
      set(value) {
        return this.UPDATE_ANON_CUSTOMER_FNAME(value);
      },
    },
    ANON_CUSTOMER_LNAME: {
      get() {
        return this.GET_ANON_CUSTOMER.lname;
      },
      set(value) {
        return this.UPDATE_ANON_CUSTOMER_LNAME(value);
      },
    },
    PAYMENT_CURRENCY: {
      get() {
        return this.GET_MAKE_A_PAYMENT_VALUES.currencyCode;
      },
      set(value) {
        return this.CHANGE_CURRENCY(value);
      },
    },
    PAYMENT_TERM: {
      get() {
        return this.GET_MAKE_A_PAYMENT_VALUES.term;
      },
      set(value) {
        return this.UPDATE_TERM_OF_PAYMENT(value);
      },
    },
    PAYMENT_AMOUNT: {
      get() {
        return this.GET_MAKE_A_PAYMENT_VALUES.amount;
      },
      set(value) {
        return this.UPDATE_AMOUNT_TO_PAY(value);
      },
    },
    PAYMENT_AMOUNT_CUSTOM: {
      get() {
        return parseFloat(this.GET_MAKE_A_PAYMENT_VALUES.finalAmount);
      },
      set(value) {
        return parseFloat(this.UPDATE_FINAL_AMOUNT_TO_PAY(value));
      },
    },
    PAYMENT_METHOD: {
      get() {
        return this.GET_MAKE_A_PAYMENT_VALUES.method;
      },
      set(value) {
        return this.UPDATE_PAYMENT_METHOD(value);
      },
    },
    listOfAmounts() {
      if (this.PAYMENT_TERM == 'month') {
        return this.GET_PRICES?.monthly
      } else if (this.PAYMENT_TERM == 'year') {
        return this.GET_PRICES?.annual
      } else {
        return this.GET_PRICES?.oneoff
      }
    }
  },
  methods: {
    ...mapActions("UserStore", ["fetchAuthenticatedUser"]),
    ...mapActions("UserContributionsStore", [
      "CHANGE_PROCESS_STAGE",
      "CREATE_NEW_SCHEDULE",
      "CHANGE_CURRENCY",
      "UPDATE_AMOUNT_TO_PAY",
      "UPDATE_ANON_CUSTOMER_EMAIL",
      "UPDATE_ANON_CUSTOMER_FNAME",
      "UPDATE_ANON_CUSTOMER_LNAME",
      "UPDATE_FINAL_AMOUNT_TO_PAY",
      "UPDATE_PAYMENT_METHOD",
      "UPDATE_TERM_OF_PAYMENT",
      "CHOOSE_DEFAULT_AMOUNT"
    ]),
    restartForm: function () {
      this.CHANGE_PROCESS_STAGE("chooseplan");
      this.$router.push({
        name: "Contribute",
      });
    },
    loadUser: async function () {
      await this.fetchAuthenticatedUser();
    },

  },
};
</script>
<style scoped>
.payment-form .twocolbtn {
  width: 47%;
}
.payment-form .v-btn {
  text-transform: none !important;
}
</style>