<template>
  <v-row>
    <v-col>
      <v-card 
      :color="$vuetify.theme.dark ? '#595757' : 'white'">
        <v-toolbar 
        
        :color="$vuetify.theme.dark ? 'secondary' : 'success'"
        dark flat>
          <v-toolbar-title>{{ $t("Payment.contributions") }}</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <UserPaymentList />
        </v-card-text>
      </v-card>
      <!-- <v-spacer />
      <v-card color="white">
        <v-toolbar color="teal" dark flat>
          <v-toolbar-title>{{ $t("Payment.subscriptions") }}</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <UserPaymentSchedules />
        </v-card-text>
      </v-card> -->
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import UserPaymentList from "./userpayments/paymentList.vue";
// import UserPaymentSchedules from "./userpayments/paymentSchedules.vue";

export default {
  name: "PaymentListing",
  components: {
    UserPaymentList,
    // UserPaymentSchedules,
  },
  data() {
    return {};
  },
  mounted() {
    this.FETCH_STRIPE_CUSTOMER_DATA();
  },
  computed: {
    ...mapGetters("StripeStore", [
      "GET_STRIPE_CUSTOMER",
      "GET_STRIPE_FETCH_OPERATIONS",
      "GET_STRIPE_INVOICES",
      "GET_STRIPE_SUBSCRIPTIONS",
    ]),
  },
  methods: {
    ...mapActions("StripeStore", [
      "FETCH_STRIPE_CUSTOMER_DATA",
      "FETCH_STRIPE_INVOICE_DATA",
      "FETCH_STRIPE_SUBSCRIPTION_DATA",
    ]),
    displayAmount(amount, currency) {
      return parseInt(amount) / 100 + " " + currency.toUpperCase();
    },
  },
};
</script>
