<template>
  <div class="post-list pb-10">
    <template v-if="hasFetched && NUMBER_OF_POSTS > 0">
      <v-row
          v-for="(post, i) in PostList()"
          v-bind:key="i"
          class="post-row pt-8"
          v-show="post.data && post.data.createdByUser && !post.data.createdByUser.blocked"
          :ref="`post-${post.slug}`"
      >
        <v-col v-if="post.sk" :data-sk="post.sk" class="pb-4">
          <!-- {{ postContainerHeights[post.slug] }} -->
          <!-- <BlockedContent :item="post" by="them" v-if="post.data.createdByUser.blocked"/> -->
          <template v-if="IS_USER_BLOCKED(post.userSlug) && !IS_REVEALED(post)">
            <BlockedContent :item="post" by="you"/>
          </template>
          <template v-else>
            <v-row v-if="post.entity === 'comment'">
              <v-col>
                <v-divider class="actiontop"/>
                <action-chip
                    v-if="typeof post.data != 'undefined'"
                    :date="post.createdAt"
                    :user="post.data.createdByUser"
                    :userprofile="post.data.userprofile"
                    :context="$route.params.tabSelected"
                    :topLevel="post.topLevel"
                    :topLevelDestination="post.topLevelDestination"
                    action="comment"
                    :timestamplink="{
                    name: 'Read',
                    params: {
                      LANG: userLanguage,
                      readSlug: getPostSlugFromComment(post),
                    },
                  }"
                />
                <v-card large>
                  <v-card-text>
                    <span v-html="post.commentText"/>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
            <template v-else>
              <v-row>
                <v-col>
                  <v-divider class="actiontop"/>
                  <action-chip
                      v-if="typeof post.data != 'undefined'"
                      :date="post.createdAt"
                      :user="post.data.createdByUser"
                      :subwiki="post.data.subwiki"
                      :userprofile="post.data.userprofile"
                      :collaborative="post.collaborative"
                      :maintrunk="post.data.maintrunk ? true : false"
                      action="post"
                      :timestamplink="{
                      name: 'Read',
                      params: { LANG: userLanguage, readSlug: post.postID },
                    }"
                  />
                  <PostMenu :post="post" :typeoffeed="ListMode" v-if="isLoggedIn"/>
                  <span
                      :class="
                      'postcontentpreview mt-2 px-2 posttext' +
                      [showFullTextFor(post.slug) ? ' showfulltext' : '']
                    "
                      v-html="post.postText"
                  />
                  <span
                      class="previewmask"
                      v-if="
                      post.postText &&
                      postContainerHeights[post.slug] > maxheight &&
                      showFullTextFor(post.slug) === false
                    "
                  >
                    <v-btn
                        @click="toggleShowFullTextFor(post.slug)"
                        color="wtsblue"
                        elevation="0"
                        class="white--text"
                    >
                      {{ $t("General.continue-reading") }}
                    </v-btn>
                  </span>
                  <SpiderCard :url="post.cardUrl" v-if="post.cardUrl"/>
                </v-col>
              </v-row>
              <template v-if="!IS_MY_PROFILE(post.userSlug) && isLoggedIn">
                <v-divider class="my-2"/>

                <TrustRating :slug="post.userSlug" class="pl-2 mb-2"/>
              </template>
              <v-divider class="mt-1"/>

              <v-toolbar elevation="0" dense>
                <template
                    v-if="
                    post.statistics &&
                    typeof post.statistics.commentCount !== 'undefined'
                  "
                >
                  <v-icon @click="toggleComments(post)" color="grey"
                  >fa-comment
                  </v-icon
                  >
                  <a
                      @click="toggleComments(post)"
                      class="px-2 grey--text metainfo"
                  >{{ post.statistics.commentCount }}
                    <template v-if="post.statistics.commentCount === 1">{{
                        $t("General.one-comment")
                      }}
                    </template>
                    <template v-if="post.statistics.commentCount != 1">{{
                        $t("General.many-comments")
                      }}
                    </template
                    >
                    <v-icon class="ml-1" color="grey" small>
                      <template v-if="showingComments(post)">
                        fa-caret-down
                      </template>
                      <template v-else> fa-caret-right</template>
                    </v-icon>
                  </a
                  >
                </template>
                <span style="display: none" v-else>
                  Comment count is missing!
                </span>
                <v-spacer/>
                <span class="mr-4">
                  <ShareMenu :post="post"/>
                </span>
                <VoteBtns
                    v-if="isLoggedIn"
                    :voteFor="parentInfo(post)"
                    :voteValueSumInput="
                    post.statistics && post.statistics.voteValueSum
                      ? post.statistics.voteValueSum
                      : 0
                  "
                />
              </v-toolbar>

              <v-divider class="mb-3"/>
              <div class="px-2" v-if="showingComments(post)">
                <div v-if="!GET_SHOW_COMMENTCREATE_ARRAY.includes(post.sk)">
                  <v-row v-if="isLoggedIn">
                    <v-col class="d-flex justify-center align-center pt-4">
                      <v-btn
                          class="px-4"
                          :color="$vuetify.theme.dark ? 'wtsgrey' : 'secondary'"
                          @click="addTopLevelComment(post.sk)"
                      >{{ $t("General.comment") }}
                      </v-btn
                      >
                    </v-col>
                  </v-row>
                </div>
                <div
                    v-if="GET_SHOW_COMMENTCREATE_ARRAY.includes(post.sk)"
                    class="justify-center"
                >
                  <v-row class="px-2">
                    <v-col class="justify-center align-center pt-4">
                      <CommentCreate
                          :commentOn="parentInfo(post)"
                          commentOnEntity="post"
                          :topLevel="parentInfo(post)"
                          :focusOnMount="focusOnReply == post.slug"
                      />
                    </v-col>
                  </v-row>
                </div>
                <div>
                  <CommentTree
                      :level="0"  
                      commentOnEntity="post"
                      :commentOnItem="post"
                  />
                </div>
              </div>
            </template>
          </template>
        </v-col>
      </v-row>

      <v-row v-if="!EndOfList()">
        <v-col>
          <v-progress-circular
              v-if="atBottom"
              :size="20"
              indeterminate
              :color="$vuetify.theme.dark ? '#878a01' : 'green darken-2'"
          ></v-progress-circular>
          <v-btn :disabled="fetchingMore" id="loadmorebtn" @click="getMore()">{{
              $t("General.load-more")
            }}
          </v-btn>
          <v-switch v-model="autoGet" label="Lazy loader"></v-switch>
        </v-col>
      </v-row>
      <NoticeChip v-else :text="$t('General.read-all-posts')"/>
    </template>
    <template v-else-if="hasFetched && fetchErrors">
      <NoticeChip text="General.there-was-an-error"/>
    </template>
    <template v-else-if="hasFetched && NUMBER_OF_POSTS == 0">
      <NoticeChip text="General.there-arent-any-posts-here"/>
    </template>
    <v-progress-linear
        v-else
        indeterminate
        :color="$vuetify.theme.dark ? '#878a01' : 'green darken-2'"
    ></v-progress-linear>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import debounce from "lodash/debounce";

import ActionChip from "./partials/ActionChip.vue";
import BlockedContent from "./partials/BlockedContent.vue";
import CommentCreate from "./CommentCreate.vue";
import CommentTree from "./CommentTree.vue";
import NoticeChip from "@shared/components/partials/NoticeChip.vue";
import PostMenu from "./partials/PostMenu.vue";
import ShareMenu from "./partials/ShareMenu.vue";
import SpiderCard from "./partials/SpiderCard";
import TrustRating from "./partials/TrustRating.vue";
import VoteBtns from "./partials/VoteBtns.vue";
import Vue from "vue";

export default {
  name: "PostList",
  props: ["mode", "subwikiSlug", "userSlug"],
  data: function () {
    return {
      maxheight: 350,
      showFullText: [],
      everythingRefreshRate: 360000, // 6 mins - 1 more than than the authorizer to avoid refreshing out of date auth data
      showCommentsFor: [],
      autoGet: true,
      ListMode: "default",
      Debug: [],
      atBottom: false,
      fetchingMore: false,
      handleDebouncedScroll: null,
      menu: false,
      postRepeatTimeout: null,
      focusOnReply: null,
      parentComment: false,
      postContainerHeights: {},
      lastAutoFetch: null
    };
  },
  components: {
    ActionChip,
    BlockedContent,
    CommentCreate,
    CommentTree,
    NoticeChip,
    PostMenu,
    ShareMenu,
    SpiderCard,
    TrustRating,
    VoteBtns,
  },
  watch: {
    PostCount() {
      if (this.PostList().length > 0) {
        this.measureHeights();
      }
    },

    GET_POST_LIST() {
      this.fetchingMore = false;
    },
    GET_FEED() {
      this.fetchingMore = false;
    },
    GET_USERPROFILE_POSTTAB(newPostTab) {
      if (newPostTab) {
        this.init();
      }
    },
  },

  updated() {
    // if (this.postContainerHeights.length == 0) {
    //   Vue.nextTick(() => {
    //     this.measureHeights();
    //   });
    // }
  },
  unmounted() {
    this.RESET_POST_LIST();
  },
  created() {
  },
  mounted() {
    this.init();
    // this.FETCH_SUBWIKI_LIST();
    this.handleDebouncedScroll = debounce(this.handleScroll, 100);

    window.addEventListener("scroll", this.handleDebouncedScroll);
  },
  beforeDestroy() {
    // I switched the example from `destroyed` to `beforeDestroy`
    // to exercise your mind a bit. This lifecycle method works too.
    window.removeEventListener("scroll", this.handleDebouncedScroll);
    this.postRepeatTimeout = null;

  },
  computed: {
    ...mapGetters("UserProfileStore", ["IS_MY_PROFILE"]),
    ...mapGetters("UserStore", ["userIsOnline", "userLanguage", "isLoggedIn"]),
    ...mapGetters("PostStore", [
      "GET_POST_LIST_FETCHED",
      "GET_POST_LIST_PAGE",
      "GET_POST_LIST",
      "GET_POST_DEBUG",
      "GET_POSTLIST_SUBWIKI",
      "GET_LIST_INPUT",
      "GET_END_OF_POST_LIST",
      "GET_USERPROFILE_POSTTAB",
      "GET_LAST_EVALUATED_KEY_POSTS",      
      "GET_POST_FETCH_ERROR"
    ]),
    ...mapGetters("SubWikiStore", ["GET_SUBWIKI_LIST"]),
    ...mapGetters("InboxStore", [
      "GET_FEED",
      "GET_FEED_FETCHED",
      "GET_END_OF_FEED",
      "GET_LAST_EVALUATED_KEY",
      "GET_INBOX_FETCH_ERROR"
    ]),
    ...mapGetters("UserStore", ["isUserInGroup"]),
    ...mapGetters("InterfaceStore", [
      "GET_SHOW_COMMENTCREATE_ARRAY",
      "GET_SHOW_POSTCREATE",
    ]),
    ...mapGetters("BlockUser", ["IS_USER_BLOCKED", "IS_REVEALED"]),

    SHOW_COMMENT_CREATE_ARRAY: {
      get() {
        return this.GET_SHOW_COMMENTCREATE_ARRAY;
      },
      set(value) {
        this.SET_SHOW_COMMENTCREATE_ARRAY(value);
      },
    },
    NUMBER_OF_POSTS() {
      let keys;
      if (this.ListMode != "feed") {
        keys = Object.keys(this.GET_POST_LIST);
      } else {
        keys = Object.keys(this.GET_FEED);
      }

      return keys.length;
    },
    POSTLIST_SUBWIKI: {
      get() {
        return this.GET_POSTLIST_SUBWIKI;
      },
      set(value) {
        this.UPDATE_POSTLIST_SUBWIKI(value);
      },
    },
    POSTLIST_LISTINPUT: {
      get() {
        return this.GET_LIST_INPUT;
      },
      set(value) {
        this.UPDATE_LIST_INPUT(value);
      },
    },
    hasFetched() {
      if (this.ListMode == "feed") {
        return this.GET_FEED_FETCHED;
      } else {
        return typeof this.GET_POST_LIST_FETCHED != "undefined" &&
        this.GET_POST_LIST_FETCHED.indexOf(this.GET_POST_LIST_PAGE) > -1
            ? true
            : false;
      }
    },
    fetchErrors() {
      if (this.ListMode == "feed") {
        return this.GET_INBOX_FETCH_ERROR == 403;
      } else {
        return this.GET_POST_FETCH_ERROR == 403;
      }
    },
    PostCount() {
      return this.PostList().length;
    },
  },

  methods: {
    ...mapActions("PostStore", [
      "FETCH_POST_LIST",
      "PICK_POST_LIST",
      "RESET_POST_LIST",
      "RESET_POST_LIST_FETCHED",
      "UPDATE_LIST_INPUT",
      "UPDATE_POSTLIST_SUBWIKI",
      "UPDATE_POSTLIST_USERPROFILE",
      "UPDATE_POSTLIST_MODE",
      "CLEAR_POST_LIST",
      "SET_LAST_EVALUATED_KEY_POSTS",
    ]),
    ...mapActions("SpiderStore", ["FETCH_URL"]),
    ...mapActions("SubWikiStore", ["FETCH_SUBWIKI_LIST"]),
    ...mapActions("InboxStore", ["FETCH_FEED", "SET_LAST_EVALUATED_KEY"]),
    ...mapActions("InterfaceStore", ["SET_SHOW_COMMENTCREATE_ARRAY"]),
    ...mapActions("BlockUser", ["ADD_REVEALED_CONTENT"]),
    init() {
      if (typeof this.mode != "undefined") {
        this.ListMode = this.mode;
      }
      this.CLEAR_POST_LIST();
      this.SET_LAST_EVALUATED_KEY(null);
      this.SET_LAST_EVALUATED_KEY_POSTS(null);
      this.RESET_POST_LIST_FETCHED();

      this.UPDATE_POSTLIST_SUBWIKI(
          typeof this.subwikiSlug != "undefined" ? this.subwikiSlug : ""
      );
      this.UPDATE_POSTLIST_USERPROFILE(
          typeof this.userSlug != "undefined" ? this.userSlug : ""
      );

      if (this.ListMode == "byid") {
        this.PICK_POST_LIST();
        this.UPDATE_POSTLIST_MODE("byid");
      } else if (this.ListMode == "feed") {
        this.FETCH_FEED();
        this.UPDATE_POSTLIST_MODE("feed");
      } else {
        this.pullNewPostRepeater();
        if (this.subwikiSlug) {
          this.UPDATE_POSTLIST_MODE("subwiki");
        } else {
          this.UPDATE_POSTLIST_MODE("everything");
        }
        this.fetchPostList(this.$route.params.tabSelected, true);
      }
    },
    fetchPostList(listRoutePayload = null, force = false) {
      if (force || (new Date().getTime() - this.lastAutoFetch) >= this.everythingRefreshRate) {
        this.lastAutoFetch = new Date().getTime();
        this.FETCH_POST_LIST(listRoutePayload);
      }

    },
    pullNewPostRepeater() {

      this.postRepeatTimeout = setTimeout(() => {
        if (
            !this.GET_SHOW_POSTCREATE &&
            this.GET_SHOW_COMMENTCREATE_ARRAY.length === 1
        ) {
          this.SET_LAST_EVALUATED_KEY_POSTS(null);
          if (this.userIsOnline) {
            this.fetchPostList();
          }
        }
        this.pullNewPostRepeater();
      }, this.everythingRefreshRate);
    },
    getMore() {
      if (!this.fetchingMore) {
        this.fetchingMore = true;
        if (this.ListMode == "byid") {
          this.PICK_POST_LIST();
        } else if (this.ListMode == "feed") {
          this.FETCH_FEED();
        } else {
          this.fetchPostList(this.$route.params.tabSelected, true);
        }
      }
    },
    PostList() {
      if (this.ListMode == "feed") {
        return this.GET_FEED;
      } else {
        return this.GET_POST_LIST;
      }
    },
    EndOfList() {
      if (this.ListMode == "feed") {
        return this.GET_END_OF_FEED;
      } else {
        return this.GET_END_OF_POST_LIST;
      }
    },

    parentInfo(post) {
      return { pk: post.pk, sk: post.sk, slug: post.slug };
    },
    handleScroll() {
      // Any code to be executed when the window is scrolled
      this.atBottom = window.isElementVisible("loadmorebtn");
      if (this.atBottom && this.hasFetched && !this.isFetching) {
        this.getMore();
      }
    },
    getPostSlugFromComment(post) {
      if (post.entity == 'post') {
        return post.data.post?.slug;
      } else if (post.entity == 'comment') {
        return post?.topLevel?.slug;
      } 
      return 
    },
    toggleComments(post) {
      if (post.statistics.commentCount == 0) {
        this.SET_SHOW_COMMENTCREATE_ARRAY(post.sk);
      }
      if (this.showCommentsFor.includes(post.slug)) {
        this.showCommentsFor = this.showCommentsFor.filter(
            (item) => item != post.slug
        );
      } else {
        this.showCommentsFor.push(post.slug);
      }
    },
    showFullTextFor(postSlug) {
      return this.showFullText.includes(postSlug);
    },
    toggleShowFullTextFor(postSlug) {
      if (this.showFullText.includes(postSlug)) {
        // this.showFullText.delete(postSlug);
      } else {
        this.showFullText.push(postSlug);
      }
    },
    setShowCommentsFor(
        post_id,
        comment_count,
        postsk = "",
        focusOnReply = false
    ) {
      if (post_id != this.showCommentsFor) {
        if (comment_count == 0) {
          this.SET_SHOW_COMMENTCREATE_ARRAY(postsk);
        }
        this.showCommentsFor = post_id;
      } else {
        if (this.GET_SHOW_COMMENTCREATE_ARRAY.includes(postsk)) {
          this.SET_SHOW_COMMENTCREATE_ARRAY(postsk);
        }
        this.showCommentsFor = null;
      }
      if (focusOnReply) {
        this.focusOnReply = post_id;
      }
    },
    showingComments(post) {
      return this.showCommentsFor.includes(post.slug);
    },
    addTopLevelComment(postid) {
      this.SET_SHOW_COMMENTCREATE_ARRAY(postid);
    },
    measureHeights() {
      this.postContainerHeights = {};

      // Look I know this is a hack but it works better than anything else I've tried
      // Vue.Vue.nextTick(()... doesn't work even if I use like 5 of them

      setTimeout(() => {
        let p;
        let blockcount = 0;
        for (p in this.PostList()) {
          let post = this.PostList()[p];
          let i = "post-" + post.slug;
          if (post.blocked) {
            blockcount++;
          }
          if (this.$refs[i]) {
            Vue.set(
                this.postContainerHeights,
                post.slug,
                this.$refs[i][0].clientHeight
            );
          }
        }
        if (blockcount > 10 && this.PostList().length == 20) {
          this.getMore();
        }
      }, 300);
    },
  },
};
</script>
<style lang="scss">
.actiontop {
  max-width: none;
}

.postcontentpreview {
  max-width: 100%;
  max-height: 20em;
  overflow: hidden;
  display: block;

  &.showfulltext {
    max-height: none;
  }
}

.previewmask {
  width: 100%;
  top: -4em;
  margin-bottom: -4em;
  height: 4em;
  display: inline-block;
  position: relative;
  background: black;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, white 100%);
  text-align: center;

  button {
    margin-top: 2em;
    margin-bottom: -4em;
  }
}

.theme--dark .previewmask {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #1e1e1e 100%);
}
</style>
