<template>
  <div class="sidemenu">
  
    <HomeBtn class="mt-1"/>
    <v-spacer/>
    <NavigationList />
  </div>

</template>
<script>
import HomeBtn from "./partials/HomeBtn.vue";
import NavigationList from "./NavigationList.vue";

export default {
  components: {
        NavigationList,
    HomeBtn,
  },
};
</script>
