<template>
  <div>
    <v-progress-linear
      v-if="GET_IS_FETCHING"
      indeterminate
      color="green darken-2"
    ></v-progress-linear>
    <div v-for="(card, c) in GET_OG_DATA" v-bind:key="c">
      <SpiderCard :card="card" />
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import SpiderCard from "./partials/SpiderCard";

export default {
  name: "SpiderCardPicker",
  props: ["identifier"],
  components: { SpiderCard },
  data: function () {
    return {
      links: [],
    };
  },
  watch: {
    contentToWatch(newValue) {
      let tmp = document.createElement("DIV");
      tmp.innerHTML = newValue;
      let text = tmp.textContent || tmp.innerText || "";
      var regexp = /(https?:\/\/[^\s]+)/g;
      this.links = [...text.matchAll(regexp)];

      if (this.links[0]) {
        this.FETCH_URL(this.links[0][0]);
      }
    },
  },
  computed: {
    ...mapGetters("WYSIWYGStore", ["GET_CONTENT"]),
    ...mapGetters("SpiderStore", [
      "GET_OG_DATA",
      "GET_OG_LINKS",
      "GET_IS_FETCHING",
    ]),
    contentToWatch() {
      return this.GET_CONTENT(this.modeOfUse, this.identifier);
    },
    modeOfUse() {
      if (typeof this.identifier == "undefined") {
        return "post";
      } else if (this.identifier == "NewPost") {
        return "post";
      } else if (this.identifier.startsWith("post-")) {
        return "comment";
      } else if (this.identifier == "Edit") {
        return "edit";
      } else {
        return "post";
      }
    },
  },
  methods: {
    ...mapActions("SpiderStore", [
      "CHOOSE_OG_CARD",
      // "FETCH_OEMBED",
      // "FETCH_PAGE",
      // "FETCH_CACHE",
      "FETCH_URL",
    ]),
  },
};
</script>
<style scoped></style>
