<template>
  <v-container>
    <v-card elevation="4">
      <v-card-title>
        {{ $t("General.welcome-to-wts2") }}
      </v-card-title>
      <v-card-subtitle>
        <v-chip class="mr-2" small label @click="exitonboarding('Home')">{{
          $t("Welcome.skip-onboarding")
        }}</v-chip>
      </v-card-subtitle>
      <div v-if="this.welcomescreen == 1">
        <v-card-text>
          <p>{{ $t("Welcome.get-you-started") }}</p>
          <p>
            <a @click="exitonboarding('BeginnersGuide')">{{
              $t("Welcome.beginners-guide")
            }}</a>
          </p>
          <div v-if="this.GET_ONBOARDING_SUBWIKIS.length == 0 ">
            <v-progress-linear
          indeterminate
          color="green darken-2"
        ></v-progress-linear>
          </div>
        <OnboardingSubwikis/>
        </v-card-text>
      </div>
      <div v-if="this.welcomescreen == 2">
        <v-container>
          {{ $t("Welcome.choose-theme") }}:
          <v-row
            ><v-col>
              <DarkTheme />
            </v-col>
          </v-row>
        </v-container>
        <v-card-text>
          {{ $t("Welcome.profile-picture") }}
        </v-card-text>
        <ChooseProfilePic />
      </div>
      <v-card-actions>
        <v-row>
          <v-col>
            <v-btn
              v-if="this.welcomescreen != 1"
              elevation="0"
              color="wtsgrey"
              @click="setpage(-1)"
              >{{ $t("General.back") }}</v-btn
            >
          </v-col>
          <v-col align="right">
            <v-btn
              v-if="this.welcomescreen != this.maxwelcomescreen"
              elevation="0"
              color="wtsgrey"
              @click="setpage(1)"
              >{{ $t("General.next") }}</v-btn
            >
            <v-btn
              v-if="this.welcomescreen == this.maxwelcomescreen"
              elevation="0"
              color="wtsgrey"
              @click="setpage(1)"
              >{{ $t("Welcome.finish") }}</v-btn
            >
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ChooseProfilePic from "./onboarding/ChooseProfilePic.vue";
import OnboardingSubwikis from "./onboarding/OnboardingSubwikis.vue";
// import SubwikiCard from "./partials/SubwikiCard.vue";
import DarkTheme from "./DarkTheme.vue";
// import NextBtn from "./partials/NextBtn.vue"

export default {
  name: "Welcome",
  components: {
    ChooseProfilePic,
    DarkTheme,
    OnboardingSubwikis
    // SubwikiCard,
    // NextBtn
  },
  data: function () {
    return {
      welcomescreen: 1,
      maxwelcomescreen: 2,
    };
  },
  computed: {
    ...mapGetters("UserStore", ["userLanguage", "userProfile"]),
    ...mapGetters("Onboarding", [
      "GET_RANDOM_PROFILE_PIC",
      "GET_CHOSEN_PIC",
      "PICTURE_IS_CHOSEN",
    ]),
    ...mapGetters("SubWikiStore", ["GET_ONBOARDING_SUBWIKIS"])
  },
  mounted() {
    this.GET_PROFILE_URLS();
  },
  methods: {
    ...mapActions("Onboarding", ["GET_PROFILE_URLS"]),
    ...mapActions("MediaStore", ["UPDATE_MY_PROFILE_PICTURE"]),
    ...mapActions("UserProfileStore", ["UPDATE_MY_PROFILE_DATA"]),
    setpage(int) {
      this.welcomescreen += int;
      if (this.welcomescreen > this.maxwelcomescreen) {
        this.exitonboarding("Home");
      }
    },
    exitonboarding(name) {
      // console.log(this.PICTURE_IS_CHOSEN);
      // console.log("Have I chosen a picture?");
      if (this.PICTURE_IS_CHOSEN == false) {
        let pksk = "userprofile#" + this.userProfile.slug;
        this.UPDATE_MY_PROFILE_DATA({
          key: {
            pk: pksk,
            sk: pksk,
          },
          profilePic: this.GET_RANDOM_PROFILE_PIC.srckey,
        });
        this.$router.push({ name: name, params: { LANG: this.userLanguage } });
      } else {
        this.$router.push({ name: name, params: { LANG: this.userLanguage } });
      }
    },
  },
};
</script>
