<template>
  <v-card elevation="0" color="wtsgrey" class="whoitrustbox">
    <v-card-title>{{$t('Sidebar.who-i-trust')}}</v-card-title>

    <v-list dense>
      <v-list-item-group color="primary">
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :value="item"
          active-color="primary"
          :to="{
            name: 'User Profile - Trust - Radio selected',
            params: {
              userSlug: userProfile.slug,
              LANG: userLanguage,
              tabSelected: 'trust',
              radioSelected: item.subTab,
            },
          }"
        >
          <v-list-item-icon class="mr-2">
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="$t(item.text)"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  components: {},
  data: () => ({
    items: [
      {
        icon: "fa-users",
        text: 'Sidebar.people-i-trust',
        subTab: "rated-by",
      },
      {
        icon: "fa-user",
        text: "Sidebar.people-who-trust-me",
        subTab: "rated",
      },

    ],
  }),
  computed: {
    ...mapGetters("UserStore", ["userLanguage", "userProfile"]),
  },
  methods: {},
};
</script>
<style lang="scss" scoped>
.whoitrustbox {
  border: 1px solid #999;
}
.trusttitle {
  border-bottom: 1px solid #999;
}
</style>
