<template>
  <div>
    <v-row class="mt-4">
      <v-col>
        <CreatePostDrawer :disableSubwikiSelect="true" />
        <p align="center" class="create-post-toggle" v-if="isLoggedIn">
          <OpenPostDrawerButton mode="profile" v-if="getUserProfile.blocked === false && !IS_USER_BLOCKED(getUserProfile.slug)"/>
        </p>
        <PostList mode="userprofile" :userSlug="userSlug" />
      </v-col>
    </v-row>
  </div>
</template>
<script>

import { mapGetters, mapActions } from "vuex";
import CreatePostDrawer from "../../CreatePostDrawer.vue";
import OpenPostDrawerButton from "../../partials/OpenPostDrawerButton";
import PostList from "../../PostList.vue";

export default {
  name: "UserProfile",


  components: {
    CreatePostDrawer,
    OpenPostDrawerButton,
    PostList,
  },
  data: function () {
    return {
      showTabs: true,

      ready: false,
      userSlug: this.$route.params.userSlug,
    };
  },

  computed: {
    ...mapGetters("UserProfileStore", [
      "GET_USER_PROFILE",
      "GET_USER_PROFILE_DEBUG",
      "GET_PROFILES",
      "GET_HAS_PROFILE_LOADED",
      "GET_IS_EDITING_MY_PROFILE",
    ]),
    ...mapGetters("UserStore", ["userProfile", "userLanguage", "isLoggedIn"]),
    
    getUserProfile() {
      return this.GET_USER_PROFILE(this.userSlug);
    },
    ...mapGetters("PostStore", ["GET_USERPROFILE_POSTTAB"]),
    ...mapGetters("BlockUser", ["IS_USER_BLOCKED"]),

  },
  methods: {
    ...mapActions("UserProfileStore", [
      "FETCH_USER_PROFILE",
      "UPDATE_MY_BIOGRAPHY",
      "CHANGE_IS_EDITING_MY_PROFILE",
    ]),
    ...mapActions("PostStore", [
      "UPDATE_NEW_POST_PARENT",
    ]),



  },
};
</script>
