<template>
  <div v-show="needToken && $route.name != 'Auth Page'">
    <Logo />
    <p>
      <v-progress-circular
        indeterminate
        color="blue darken-2"
      ></v-progress-circular>
    </p>
  </div>
</template>
<script>
import { mapActions, mapGetters} from "vuex";
import Logo from "@shared/components/partials/Logo";
export default {
  name: "GuestComponent",
  components: {
    Logo,
  },
  async mounted() {
    await navigator.locks.request("getGuestToken", async () => {
      if (this.needToken) {
        await this.getGuestToken();
      }
    });
  },
  computed: {
    ...mapGetters("UserStore", ["userToken", "hasValidGuestToken", "accessTimeOut", "secondsUntilTokenTimeout"]),
    needToken() {
      return !this.hasValidGuestToken || this.secondsUntilTokenTimeout < 0;
    }
  },
  methods: {
    ...mapActions("UserStore", [ "getGuestToken"]),
  },
};
</script>
