<template>
  <v-btn
    elevation="0"
    :color="$vuetify.theme.dark ? 'wtsdarkgreybutton' : 'wtsgrey'"
    @click="logout(true)"
    >{{ $t("General.logout") }}</v-btn
  >
</template>
<script>
import { mapActions } from "vuex";

export default {
  methods: {
    ...mapActions("UserStore", ["logout"]),

  },
};
</script>
