<template>
    <v-container class="justify-center">
      <v-row align="center" justify="center">
        <v-col cols="3" lg="1" md="2" align="center" justify="center" v-for="(item, index) in GET_LANG_LIST" :key="index" @click="triggerupdate(item)">
        <flag :iso="item.flag" v-bind:squared="false" />
        </v-col>
    </v-row>
    </v-container>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
    name: "AuthLangSelect",
    data() {
    return {
    };
  },
  components: {
    
  },
  computed: {
    ...mapGetters("Languages", ["GET_LANG_LIST"]),
  },
  methods: {
    ...mapActions("Languages", ['UPDATE_SESSION_LANG']),
    triggerupdate(item){
        this.UPDATE_SESSION_LANG(item)
    }
  },
  // },
};
</script>
