<template >
  <v-tooltip bottom v-if="user.slug != userSlug && (typeof user.admin == 'undefined' || user.admin == false)">
    <template v-slot:activator="{ on, attrs }">
      <v-icon v-if="!IS_USER_BLOCKED(user.slug)"  @click="TOGGLE_BLOCK_DIALOG(user)"  v-bind="attrs" v-on="on" color="red">fa-ban</v-icon>
      <v-icon v-else
          @click="SHOW_UNBLOCK_DIALOG(user)"
          v-bind="attrs"
          v-on="on"
          color="orange"
        >
        fa-user-times
        </v-icon>
    </template>
    <span  v-if="IS_USER_BLOCKED(user.slug)">{{ $t("Block.btn-unblock-this-user") }}</span>
    <span  v-else>{{ $t("Block.btn-block-this-user") }}</span>

  </v-tooltip>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "BlockUserBtn",
  props: ["user"],
  mounted() {},
  computed: {
    ...mapGetters("BlockUser", ["IS_USER_BLOCKED"]),
    ...mapGetters("UserStore", ["userSlug"]),
  },
  methods: {
    ...mapActions("BlockUser", ["TOGGLE_BLOCK_DIALOG", "SHOW_UNBLOCK_DIALOG", "REMOVE_BLOCKED_USER"]),
  },
};
</script>
