<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <v-icon @click="editThis()" color="orange" v-bind="attrs" v-on="on"
        >fa-pencil</v-icon
      >
    </template>
    <span>{{ $t("General.edit-this-post") }}</span>
  </v-tooltip>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "EditBtn",
  props: ["edit", "context", "originalText", "cardUrl", "isMine"],
  mounted() {},
  computed: {
    ...mapGetters("EditStore", [
      "GET_CONTEXTS",
      "GET_OLD_TEXT",
      "GET_NEW_TEXT",
      "GET_EDIT_SLUG",
      "GET_CURRENT_CONTEXT",
      "GET_SHOW_DIALOG",
    ]),

    contextButton() {
      if (
        typeof this.context != "undefined" &&
        typeof this.GET_CONTEXTS != "undefined" &&
        this.context != "" &&
        typeof this.GET_CONTEXTS[this.context] != "undefined" &&
        typeof this.GET_CONTEXTS[this.context].button != "undefined"
      ) {
        return this.GET_CONTEXTS[this.context].button;
      } else {
        return "UNKNOWN (undefined)";
      }
    },
  },
  methods: {
    ...mapActions("EditStore", [
      "SET_IS_MINE",
      "UPDATE_OLD_TEXT",
      "UPDATE_NEW_TEXT",
      "UPDATE_EDIT_KEY",
      "UPDATE_CURRENT_CONTEXT",
      "UPDATE_SHOW_DIALOGUE",
      "UPDATE_EDIT_COMMENTSFOR",
      "UPDATE_OLD_CARD_URL",
      "UPDATE_NEW_CARD_URL",
    ]),
    editThis() {
      if (typeof this.edit != "undefined") {
        this.UPDATE_EDIT_KEY(this.edit);
      }
      if (typeof this.context != "undefined") {
        this.UPDATE_CURRENT_CONTEXT(this.context);
      }
      if (typeof this.originalText != "undefined") {
        this.UPDATE_OLD_TEXT(this.originalText);
        this.UPDATE_NEW_TEXT(this.originalText);
      }
      if (typeof this.cardUrl != "undefined") {
        this.UPDATE_OLD_CARD_URL(this.cardUrl);
        this.UPDATE_NEW_CARD_URL(this.cardUrl);
      } else {
        this.UPDATE_OLD_CARD_URL(false);
        this.UPDATE_NEW_CARD_URL(false);
      }
      this.UPDATE_SHOW_DIALOGUE(true);
      this.SET_IS_MINE(this.isMine)
    },
  },
};
</script>
