<template>
  <v-chip :color="errorBackroundColour" class="errorChip">
    <v-icon :color="errorColour">mdi-{{ errorIcon }} </v-icon>

    <strong>{{ errorText }}</strong>
  </v-chip>
</template>
<script>
export default {
  name: "Error",
  props: ["text", "type"],

  computed: {
    errorType() {
      // console.log(this.GET_COMMENTS_FETCHED);
      return typeof this.type != "undefined" ? this.type : "standard";
    },
    errorIcon() {
      if (this.errorType == "standard") {
        return "alert-circle-outline";
      } else {
        return "alert-circle";
      }
    },
    errorColour() {
      return this.errorType == "standard" ? "orange" : "red";
    },
    errorBackroundColour() {
      return this.errorType == "standard" ? "grey-lighter-3" : "yellow";
    },
    errorText() {
      return typeof this.text != "undefined" ? this.text : "Error";
    },
  },
};
</script>
<style scoped></style>
