<template>
<a @click="homeBtnLink()" class="homebtn">
    <Logo/>
  </a>
</template>

<script>
import { mapActions, mapGetters} from "vuex";
import Logo from '@shared/components/partials/Logo';


export default {
  name: "HomeBtn",
  props: [],
  components: {
        Logo,
  },
  mounted() {},
  computed: {
    ...mapGetters("Languages", ["GET_LOCALE"]),
    ...mapGetters("UserStore", ["isLoggedIn"]),
    },
  data() {
    return {};
  },
  methods: {
    ...mapActions("InterfaceStore", ["CLEAR_COMMENTCREATE_ARRAY"]),
    homeBtnLink(){
      let lang = this.GET_LOCALE;
      if (!lang) {
        lang = "en";
      }
      if(this.$router.currentRoute.name == "Home"){
        window.scrollTo(0,0);
      }
      else if (!this.isLoggedIn) {
        this.$router.push({ name: 'Auth Page', params: { LANG:  lang} })
      }
      else{
        
        this.$router.push({ name: 'Home', params: { LANG:  lang} })
      }
      this.CLEAR_COMMENTCREATE_ARRAY()
    }
  }
};
</script>

