<template>
  <div align="center" class="buttontabs my-4">
    <v-btn
      v-for="(tab, t) in tablist"
      v-bind:key="t"
      elevation="0"
      :color="$vuetify.theme.dark ? '#121212' : 'white'"
      :to="{
        name: tabbaseroute,
        params: routeParams(tab),
      }"
    >

      <v-icon
        color="grey"
        class="mr-1"
        v-if="tab[tabroute] != radioselected"
        >fa-circle-o</v-icon
      >
      <v-icon color="primary" class="mr-1" v-else>fa-dot-circle-o</v-icon>
      {{ tab[tablabel] }}
    </v-btn>
    
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "RadioTabs",
  props: {
    radioselected: {      
      type: String,
      required: true,
    },
    tabbaseroute: {
      type: String,
      required: true,
    },
    parenttab: {
      type: String,
      required: false,
    },
    tablabel: {
      type: String,
      default: "label",
      required: false,
    },
    tabroute: {
      type: String,
      default: "route",
      required: false,
    },
    userSlug: {
      type: String,
      required: false,
    },
    tablist: {
      type: Array,
      required: true,
    },
  },

  computed: {
    ...mapGetters("UserStore", ["userLanguage"]),
  },
  methods: {
    routeParams(tab) {
      let params = {
        LANG: this.userLanguage,
        radioSelected: tab[this.tabroute],
      };
    
      if (this.userSlug) {
        params.userSlug = this.userSlug;
      }
      return params;
    },
  },
};
</script>
