<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        elevation="0"
        plain
        v-bind="attrs"
        v-on="on"
        :to="{
            name: 'Read',
            params: { LANG: userLanguage, readSlug: read },
          }
        "
      >
        <v-icon
          title="Read"
          :color="$vuetify.theme.dark ? 'wtsgreen1' : 'wtsgreen2'"
          >fa-file-text</v-icon
        >
      </v-btn>
    </template>
    <span>Read this post</span>
  </v-tooltip>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ReadBtn",
  props: ["read"],
  mounted() {},
  computed: {
    ...mapGetters("UserStore", ["userLanguage"]),
  },
  methods: {
    // readThis() {
    //   this.$router.push({ name: 'Read', params: { readSlug: this.read } });
    // },
  },
};
</script>
<style lang="css" scoped>
a.v-btn:not(.v-btn--round).v-size--default { 
  min-width: 0;
  padding: 0;
}
</style>