<template>
  <v-menu class="share-menu">
    <template v-slot:activator="{ on: menu, attrs }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: tooltip }">
          <v-icon
            class="share-menu-activator"
            color="grey"
            dark
            v-bind="attrs"
            v-on="{ ...tooltip, ...menu }"
          >
            fa-share-alt
          </v-icon>
        </template>
        <span>Sharing options</span>
      </v-tooltip>
    </template>
    <v-list class="share-menu-list">
      <v-list-item>
        <v-list-item-title>
          <a
          target="_blank"
          class="twitter-share-button"
          :href="createLink('twitter')"
          ><v-icon>fa-twitter</v-icon> via Twitter</a
          >
        </v-list-item-title>
      </v-list-item>
      <v-list-item>
        <v-list-item-title>
          <a
            target="_blank"
            class="twitter-share-button"
            :href="createLink('facebook')"
            ><v-icon>fa-facebook</v-icon> via Facebook</a
          >
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  props: ["post"],

  components: {},
  computed: {
    ...mapGetters("UserStore", ["isUserInGroup", "userLanguage"]),
  },
  methods: {

    createLink(shareTo) {
      // let link = this.$router.getPath({
      //   name: "Read",
      //   params: { LANG: this.userLanguage, readSlug: this.post.postID },
      // });
      let link = `${process.env.VUE_APP_WTS2_URL}${this.userLanguage}/post/${encodeURIComponent(this.post.postID)}`

      switch (shareTo) {
        case "twitter":
          link = "https://twitter.com/intent/tweet?text=" + link;
          break;
        case "facebook":
          link = "https://www.facebook.com/sharer/sharer.php?u=" + link;
          break;

        default:
          break;
      }
      return link;
    },
  },
};
</script>
<style lang="scss">
.v-toolbar__content {
  padding: 4px 8px;
}
.share-menu-list a {
  text-decoration: none;
}
</style>
