<template>
  <div class="spidercard--container" :data-fetchedFull="fetchedFull">
    <v-card
      outlined
      max-width="440"
      :color="$vuetify.theme.dark ? '#333231' : 'grey lighten-4'"
      :class="'spidercard rounded-sm provider-'+providerName()"
      v-if="readyToShow()"
    >
      <template v-if="CardData.url && (fetchedFull || fetchedQuick)">
        <v-card-title v-if="!IsEmbed() && CardTitle()">
          <a :href="CardLink()" target="_blank">{{ CardTitle() }}</a>
        </v-card-title>
        <v-card-text v-if="CardData.data">
          <template v-if="IsEmbed()">
            <div v-html="CardData.data.urldata.oembed_data.html"></div>
          </template>
          <template v-else>
            <p v-if="CardDescription()">
              {{ CardDescription() }}
            </p>
            <v-hover v-slot="{ hover }">
              <a target="_blank" :href="CardLink()"
                ><v-img
                  max-height="220"
                  width="100%"
                  v-if="CardData && CardImage()"
                  :src="CardImage()"
                  class="spidercard--image"
                >
                  <v-expand-transition>
                    <div
                      v-if="hover"
                      class="d-flex transition-fast-in-fast-out v-card--reveal"
                      style="height: 100%"
                    >
                      <v-img
                        max-height="220"
                        width="100%"
                        :src="CardScreenShot()"
                      />
                    </div>
                  </v-expand-transition> </v-img></a
            ></v-hover>
            <!--<p>
              <em>
                {{ FetchNote() }}
              </em>
            </p>-->
          </template>
        </v-card-text>
        <v-card-actions v-if="CardData">
          <v-chip>
            <a target="_blank" :href="CardLink()">{{ CardLink() }}</a></v-chip
          >
        </v-card-actions>
      </template>

      <template v-if="!(fetchedFull || (!this.fetchedQuick && this.loadquick))">
        <NoticeChip
          type="loading"
          :text="$t('General.loading-full-data')"
          v-if="!fetchedFull && this.fetchedQuick && this.loadquick"
        />
        <NoticeChip
          type="loading"
          :text="$t('General.loading-full-data')"
          v-else-if="!fetchedFull"
        />
        <NoticeChip v-else type="loading" :text="$t('General.loading-full-data')" />
      </template>
      <template v-else-if="GET_OG_FETCH_STATE(url) == 'error'"
        ><NoticeChip text="General.error-loading-link" />
      </template>
    </v-card>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import NoticeChip from "@shared/components/partials/NoticeChip.vue";
import i18n from "@/plugins/i18n";

export default {
  name: "SpiderCard",
  props: ["url", "loadquick"],
  components: { NoticeChip },
  data: function () {
    return {
      fetchedFull: false,
      fetchedQuick: false,
      CardData: {
        url: "",
        data: {
          found: null,
          source: null,
          gettime: null,
          urldata: {
            fetch_data: {},
            oembed_data: {},
            quick_data: {},
          },
        },
      },
    };
  },
  async mounted() {
    this.init();
  },

  watch: {
    url() {
      this.init();
    },
    CardData(data) {
      if (data.data.urldata?.oembed_data?.provider_url) {
        this.embedScripts();
      }
    },
    GET_FETCH_COUNTER() {
      // This feels hacky
      if (
        (!this.fetchedFull || (!this.fetchedQuick && this.loadquick)) &&
        this.url &&
        this.GET_ALL_OG_DATA[this.url]
      ) {
        this.updateCardDataFromStore();
      }
    },
  },

  computed: {
    ...mapGetters("SpiderStore", [
      "GET_OG_DATA",
      "GET_ALL_OG_DATA",
      "GET_FETCH_COUNTER",
      "GET_SPIDER_SCRIPTS",
      "GET_OG_FETCH_STATE",
    ]),
    
  },
  methods: {
    ...mapActions("SpiderStore", ["FETCH_URL", "FETCH_URL_QUICK"]),
    async init() {
      if (this.url && !this.GET_OG_DATA(this.url)?.data?.found) {
        if (this.loadquick) {
          this.FETCH_URL_QUICK(this.url);
        }
        await this.FETCH_URL(this.url);
      } else if (this.url && this.GET_OG_DATA(this.url)) {
        this.updateCardDataFromStore();
      } else {
        console.log("Card has no url");
      }
    },
    readyToShow() {
      if (this.loadquick) {
        if (this.fetchedQuick && this.CardTitle() != "") {
          return true;
        }
      }
      if (this.fetchedFull) {
        return true;
      }
      return false;
    },
    ChipColor() {
      return "grey";
    },
    IsEmbed() {
      return this.CardData?.data?.urldata?.oembed_data ? true : false;
    },
    CardLink() {
      return this.CardData?.url;
    },
    CardTitle() {
      let c;
      let list = ["og:title", "twitter:title", "title"];
      for (c in list) {
        let value = this.GetFetchOrQuick(list[c]);
        if (value) {
          return value;
        }
      }
      return "";
    },
    CardDomain() {
      let c;
      let list = ["og:domain", "twitter:domain"];
      for (c in list) {
        if (this.CardData?.data?.urldata?.fetch_data?.[list[c]]) {
          let value = this.CardData.data.urldata.fetch_data[list[c]];
          if (value) {
            return value;
          }
        }
      }
      return "";
    },

    CardDescription() {
      let c;
      let list = ["og:description", "twitter:description", "description"];
      for (c in list) {
        let value = this.GetFetchOrQuick(list[c]);
        if (value) {
          return value;
        }
      }
      return "";
    },
    CardScreenShot() {
      if (!this.CardData?.data?.urldata?.fetch_data?.screenshot) {
        return "";
      } else {
        return (
          process.env.VUE_APP_SPIDERBUCKETSCREENSHOTS +
          this.CardData?.data?.urldata?.fetch_data?.screenshot
        );
      }
    },
    CardImage() {
      let c;
      let list = ["og:image", "twitter:image", "twitter:image:src"];

      for (c in list) {
        if (
          this.CardData?.data?.urldata?.fetch_data?.["cached_images"]?.[list[c]]
        ) {
          return (
            process.env.VUE_APP_SPIDERBUCKETSCREENSHOTS +
            this.CardData?.data?.urldata?.fetch_data?.["cached_images"][list[c]]
          );
        }
        let value = this.GetFetchOrQuick(list[c]);
        if (value) {
          return value;
        }
      }
      return "";
    },
    FetchNote() {
      if (this.CardData?.data?.gettime && this.CardData?.data?.source) {
        return i18n.t('Time.fetched-in-time-from-place', { time: this.CardData.data.gettime, source: this.CardData.data.source });
      } else if (
        this.CardData?.url &&
        this.GET_OG_FETCH_STATE(this.CardData?.url)
      ) {
        return this.GET_OG_FETCH_STATE(this.CardData.url);
      } else {
        return "";
      }
    },
    GetFetchOrQuick(attr) {
      if (this.CardData?.data?.urldata?.fetch_data?.[attr]) {
        return this.CardData.data.urldata.fetch_data[attr];
      } else if (this.CardData?.data?.urldata?.quick_data?.[attr]) {
        return this.CardData.data.urldata.quick_data[attr];
      } else {
        return "";
      }
    },
    embedScripts() {
      let provider_url = this.CardData.data.urldata?.oembed_data?.provider_url;
      if (!provider_url) {
        return false;
      } else if (!this.GET_SPIDER_SCRIPTS?.[provider_url]) {
        return false;
      }


      let appendScript = document.createElement("script");
      appendScript.setAttribute(
        "src",
        this.GET_SPIDER_SCRIPTS[provider_url].scriptUrl
      );
      document.head.appendChild(appendScript);

    },
    updateCardDataFromStore() {
      this.CardData = this.GET_OG_DATA(this.url);
      if (
        this.CardData.data?.urldata?.fetch_data ||
        this.CardData.data?.urldata?.oembed_data
      ) {
        this.fetchedFull = true;
      } else if (this.CardData.data?.urldata?.quick_data) {
        this.fetchedQuick = true;
      }
    },
    providerName() {
      return this.CardData?.data?.urldata?.oembed_data?.provider_name ? this.CardData.data.urldata.oembed_data.provider_name.toLowerCase() : 'unknown-provider';
    }
  },
};
</script>
<style scoped>
.spidercard--image {
}

</style>
