<template>
  <span v-if="subwiki.label != 'None'">
  <v-btn :title="$t('General.visit-subwiki')" color="orange lighten-1" small :to="{ name: 'Branch', params: { subwikiSlug: subwiki.slug }}">
    <v-icon small>mdi-more</v-icon>
    {{ subwiki.label }}
  </v-btn>
  </span>
</template>

<script>
export default {
  name: "SubwikiBtn",
  props: ["subwiki"],
};
</script>
