<template>
  <span class="userbtn-span" :data-user-id="ChipUser.slug">
    <template v-if="ChipUser.slug && ChipUser.slug != ''">
      <v-menu
        v-if="DisplayAvatar"
        v-model="ShowMenu"
        :close-on-content-click="false"
        :nudge-width="200"
        offset-x
      >
        <template
          v-if="this.$route.name != 'Recent Changes'"
          v-slot:activator="{ on, attrs }"
        >
          <v-img
            v-bind="attrs"
            v-on="on"
            :src="URL_PROFILE_PIC(ChipUser.userID)"
            :class="displayClassImage + ' p-2 rounded-circle'"
            height="32"
            width="32"
            max-height="32"
            max-width="32"
          />
        </template>

        <v-card max-width="300">
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <img
                  :src="URL_PROFILE_PIC(ChipUser.userID)"
                  alt="User's profile picture'"
                />
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title
                  ><router-link
                    :class="'user-btn ' + displayClassLink"
                    :to="{
                      name: 'User Profile',
                      params: {
                        userSlug: ChipUser.slug,
                        LANG: userLanguage,
                        tabSelected: 'posts',
                      },
                    }"
                    >{{ ChipUser.fname }} {{ ChipUser.lname }}</router-link
                  ></v-list-item-title
                >
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>
          <v-list>
            <v-list-item v-if="!IS_MY_PROFILE(ChipUser.slug)">
              <v-list-item-title>
                <FollowBtn :userProfile="FollowData" />
              </v-list-item-title>
            </v-list-item>
          </v-list>
          <v-card-text v-if="GET_HAS_PROFILE_LOADED.includes(ChipUser.slug)">
            {{ GET_USER_PROFILE(ChipUser.slug).userBio }}
          </v-card-text>
          <v-progress-linear
            v-else
            indeterminate
            color="green darken-2"
          ></v-progress-linear>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn text @click="ShowMenu = false"> {{$t('General.cancel')}} </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
      <router-link
        :class="'user-btn ' + displayClassLink"
        :to="{
          name: 'User Profile',
          params: {
            userSlug: ChipUser.slug,
            LANG: userLanguage
          },
        }"
      >
        <span
          v-if="DisplayName"
          :class="'p-2 ' + displayClassName + ' chipuser-name wts2blue'"
          >{{ ChipUser.fname }} {{ ChipUser.lname }}</span
        >
      </router-link>
      <span v-if="DisplayName && ChipUser.trustLevelInfo" class="ml-1">({{ ChipUser.trustLevelInfo.aka}})</span>
    </template>
    <p v-else>{{ $t("General.loading-user") }}</p>
  </span>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import FollowBtn from "../partials/FollowBtn.vue";

export default {
  name: "UserBtn",
  props: ["user", "displayMode"],

  components: {
    FollowBtn,
  },
  data: function () {
    return {
      DisplayAvatar: true,
      DisplayName: true,
      ChipUser: { label: "", slug: "" },
      ShowMenu: false,
    };
  },
  watch: {
    user() {
      this.loadProp();
    },
    async ShowMenu(show) {
      if (show) {
        console.log("Show menu");
        if (!this.GET_USER_PROFILE(this.ChipUser.slug).slug) {
          console.log("Fetching profile");
          await this.FETCH_USER_PROFILE(this.ChipUser.slug);
          console.log(this.GET_USER_PROFILE(this.ChipUser.slug));
          this.ChipUser.trustLevel = this.GET_USER_PROFILE(this.ChipUser.slug)[
            "trustLevel"
          ];
          this.ChipUser.trustLevelName = this.GET_USER_PROFILE(
            this.ChipUser.slug
          )["trustLevelName"];
        }
      }
    },
  },
  created() {
    this.loadProp();
  },
  computed: {
    ...mapGetters("UserProfileStore", [
      "URL_PROFILE_PIC",
      "GET_USER_PROFILE",
      "IS_MY_PROFILE",
      "GET_HAS_PROFILE_LOADED",
    ]),
    ...mapGetters("UserStore", ["userLanguage"]),
    displayClassLink() {
      return this.DisplayName && this.DisplayAvatar
        ? "d-flex flex-row"
        : "d-inline-block ";
    },
    displayClassImage() {
      return this.DisplayName && this.DisplayAvatar ? "pl-2" : "d-inline-block";
    },
    displayClassName() {
      return this.DisplayName && this.DisplayAvatar ? "pl-2" : "";
    },
    FollowData() {
      return {
        userSlug: this.ChipUser.slug,
        fname: this.ChipUser.fname,
        sk: "userprofile#" + this.ChipUser.slug,
      };
    },
  },
  mounted() {
    if (this.displayMode == "pic") {
      this.DisplayAvatar = true;
      this.DisplayName = false;
    }
    if (this.displayMode == "name") {
      this.DisplayAvatar = false;
      this.DisplayName = true;
    }
  },
  methods: {
    loadProp() {
      if (this.user) {
        this.ChipUser = this.user;
      }
    },
    ...mapActions("UserProfileStore", ["FETCH_USER_PROFILE"]),
  },
};
</script>
<style lang="scss" scoped>
.userbtn-span {
  line-height:  0;
}
.user-btn {
  text-decoration: none;
  .chipuser-name {
    font-weight: bold;
    font-size: 0.95rem;
  }
}
</style>
