<template>
<div>
<div class="selectusergroup">
    <v-btn @click="getUserGroups()">Get User Groups</v-btn>
    <div v-if="this.usergroupsretrieved == true">
<v-row>
<div v-for="(usergroup, index) in GET_AVAILABLE_USER_GROUPS" :key="index">
  <v-col>
 <v-checkbox
      v-model="USERS_GROUP_GET_AND_SET"
      :value="usergroup"
      :label="usergroup"
    ></v-checkbox>
    </v-col>
    </div>
    <v-col>
      <v-btn @click="updatingvalue({userslug: userProfile.userSlug})">Submit</v-btn>
    </v-col>
    </v-row>
</div>
</div>
</div>
</template>

<script>

import {mapGetters, mapActions } from "vuex";

export default {
  name: "UserGroupManage",
    props: ["userProfile", "subwiki"],
    data: function () {
    return {
        usergroupsretrieved: false
    };
  },
  mounted(){
    if(this.userProfile.userSlug){
      this.GET_CURRENT_USER_GROUPS(this.userProfile.userSlug)
    }
  },
  computed:{
    ...mapGetters("UserManagementStore", ["GET_USER_GROUPS", "GET_AVAILABLE_USER_GROUPS"]),
    USERS_GROUP_GET_AND_SET: {
      get() {
        return this.GET_USER_GROUPS;
      },
      set(value) {
        this.UPDATE_STORE_VALUE(value);
      },
    },
  },
  methods: {
    ...mapActions("UserManagementStore", ["UPDATE_USER_GROUPS", "GET_CURRENT_USER_GROUPS", "UPDATE_STORE_VALUE"]),
    getUserGroups(){
      this.usergroupsretrieved = !this.usergroupsretrieved
    },
    updatingvalue(items){
      this.UPDATE_USER_GROUPS(items)
    }
  }
  }

</script>

<style scoped>
.selectusergroup{
    align-content: right;
}
</style>